# Managed by cmd/screenrig-openapi-writer from api/openapi.publication.yaml. DO NOT EDIT.
# Run make openapi after changing the publication input; make generate only consumes this file.
openapi: 3.1.0
info:
  title: ScreenRig API
  version: 0.3.0
  description: >-
    Agent-operated digital signage control and runtime API.

    Public remaining is whole credits, never millicredits. Authenticated /api/v1
    JSON and problem responses include ScreenRig-Credits-Remaining,
    ScreenRig-Credits-Reset, and ScreenRig-Credits-Included. SSE, runtime,
    content, and unauthenticated responses omit them. The ledger unit remains
    millicredits (1000 mcr = 1 credit); published remaining is floored.

    Authenticated user or agent /api/v1 requests cost 1 credit, debited
    immediately against this server request id, after the first 10,000 API or
    billed listen-stream taxes in the UTC month. Remaining below the intro
    floor of negative 1,000,000 credits (zero from 2027-01-01) is
    payment_required. GET /api/v1/project and POST
    /api/v1/agents/self/disconnect do not debit, so a zero-remaining project
    can recover. Screen messages are exempt from this meter:
    POST /api/v1/screens/{id}/toast, POST /api/v1/screens/{id}/screenshot,
    GET /api/v1/screens/{id}/screenshot, and GET
    /api/v1/screens/{id}/screenshot/status. Runtime, pairing, content, health,
    and unauthenticated routes are not this meter. Inbound media commit,
    application accept, and K/V put bytes, outbound runtime media/package/release
    and K/V get bytes, and stored bytes settle hourly against remaining.
    Public remaining stays whole credits.

    Opening GET /api/v1/events/stream costs 1 credit as the listen subscribe.
    Later billed events on that stream cost 1 credit each. Screen conversation
    events are exempt: screen.*, runtime.*, and application.event. Heartbeats
    and the retry preamble never charge. playlist.*, media.*, kv.*,
    application.published, operation.*, project.*, feedback.*, stream.cursor,
    and stream.resync_required are billed. GET /dashboard/v1/events/stream
    bills arriving events under this same per-event meter and the same
    exemption set; like every SSE response it omits the ScreenRig-Credits-*
    headers. A dashboard session reads the same whole-credit balance through
    GET /dashboard/v1/balance, which never debits and remains available at zero.
    SSE debit idempotency is
    sse-event:<project_id>:<sequence>; reconnect replay is free. An unpaid
    billed event is not written and the stream closes.

    The URL major is the compatibility boundary for the /api/v1, /runtime/v1,
    /content/v1, and /dashboard/v1 families. This document's info.version is
    the contract-document version, not a URL or product API major. The
    lifecycle policy is recorded in x-api-lifecycle below.

    No operation is currently deprecated, so responses emit no Deprecation,
    Sunset, or rel=deprecation Link lifecycle headers today.

    Successful responses from routes that consume a disclosed fixed-window
    policy may include the optional RateLimit-Policy and RateLimit structured
    field list members when the request passes admission. Exact replays and
    deployments without shared admission can answer without them. Fixed-window
    rejections include them according to
    draft-ietf-httpapi-ratelimit-headers-11, an Internet-Draft rather than an
    RFC. Retry-After remains authoritative on 429. Fleet-global quotas,
    internal partition keys, concurrency capacity, and byte-budget capacity
    are not disclosed. Every operation with public fixed-window controls lists
    those controls in x-rate-limit-policies and names its optional admitted
    response headers in x-rate-limit-admitted-response-headers.
x-api-lifecycle:
  documentVersionMeaning: Contract-document version; not a URL or product API major.
  urlMajorFamilies: [/api/v1, /api/v2, /runtime/v1, /runtime/v2, /content/v1, /dashboard/v1]
  compatibleWithinMajor:
    - Additive endpoints and methods.
    - Optional request members.
    - New problem codes.
    - New fields only where the published schema permits unknown fields.
  breakingWithinMajor:
    - Route or field removal or rename.
    - Type, meaning, or authorization changes.
    - Making optional input required.
    - Adding a member to a closed enum.
    - Adding a field to a closed response object.
  newMajorMinimumOverlapDays: 180
  sunsetMinimumNoticeDays: 90
  deprecationMinimumServiceDays: 90
  deprecationServiceClock: RFC 9745 Deprecation effective date; a later published commitment controls.
  deprecationSignals:
    - OpenAPI deprecated true on the operation.
    - RFC 9745 Deprecation with its effective date.
    - RFC 8594 Sunset once the sunset date is fixed.
    - Link with rel=deprecation to migration documentation.
  migrationChannels:
    - OpenAPI
    - /docs/api/#deprecations
    - /docs/api.md#deprecations
  currentDeprecatedOperations: []
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.screenrig.ai
    description: Control-plane origin
security: []
paths:
  /api/v1/invitations:
    post:
      operationId: createInvitations
      description: Creates member or ad-buyer invitations. Email delivery never returns a credential. Link delivery is member-only and returns one URL, including on
        exact idempotent replay within 24 hours. Email invitations expire after seven days; links expire after 24 hours. Outstanding email invitations of the same kind,
        address, and project are reused.
      security:
      - projectBearer: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationCreate'
      responses:
        '201':
          description: Creates member or ad-buyer invitations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationCreated'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: invitation-create-project
        quota: 100
        windowSeconds: 3600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
    get:
      operationId: listInvitations
      description: Lists invitation lifecycle records for the current project, excluding sign-in resets. Recipient addresses are visible to the owning project, which
        supplied them. Tokens and credential URLs are never listed.
      security:
      - projectBearer: []
      parameters:
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - project_member
          - ad_buyer
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/InvitationStatus'
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Lists invitation lifecycle records for the current project, excluding sign-in resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationList'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/invitations/{id}/revoke:
    post:
      operationId: revokeInvitation
      description: Revokes an outstanding invitation. An accepted invitation returns invitation_consumed.
      security:
      - projectBearer: []
      parameters:
      - $ref: '#/components/parameters/ResourceID'
      responses:
        '204':
          description: Revokes an outstanding invitation.
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/sign-in-resets:
    post:
      operationId: requestSignInReset
      description: Accepts a sign-in reset request without revealing whether a person holds the address. A live reset is superseded and expires after one hour. For
        a contact address with no person, enrollment invitations are reissued for at most ten recent projects with zero members.
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInResetRequest'
      responses:
        '202':
          description: Accepts a sign-in reset request without revealing whether a person holds the address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResetAccepted'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: sign-in-reset-email
        quota: 3
        windowSeconds: 3600
      - name: sign-in-reset-ip
        quota: 10
        windowSeconds: 3600
      - name: sign-in-reset-fleet
        quota: 200
        windowSeconds: 3600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
  /dashboard/v1/invitations:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: createDashboardInvitations
      description: Creates member or ad-buyer invitations. Email delivery never returns a credential. Link delivery is member-only and returns one URL, including on
        exact idempotent replay within 24 hours. Email invitations expire after seven days; links expire after 24 hours. Outstanding email invitations of the same kind,
        address, and project are reused.
      security:
      - dashboardSession: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationCreate'
      responses:
        '201':
          description: Creates member or ad-buyer invitations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationCreated'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: invitation-create-project
        quota: 100
        windowSeconds: 3600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
    get:
      operationId: listDashboardInvitations
      description: Lists invitation lifecycle records for the current project, excluding sign-in resets. Recipient addresses are visible to the owning project, which
        supplied them. Tokens and credential URLs are never listed.
      security:
      - dashboardSession: []
      parameters:
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - project_member
          - ad_buyer
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/InvitationStatus'
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Lists invitation lifecycle records for the current project, excluding sign-in resets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationList'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/invitations/{id}/revoke:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: revokeDashboardInvitation
      description: Revokes an outstanding invitation. An accepted invitation returns invitation_consumed.
      security:
      - dashboardSession: []
      parameters:
      - $ref: '#/components/parameters/ResourceID'
      responses:
        '204':
          description: Revokes an outstanding invitation.
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/sign-in-resets:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: requestDashboardSignInReset
      description: Accepts a sign-in reset request without revealing whether a person holds the address. A live reset is superseded and expires after one hour. For
        a contact address with no person, enrollment invitations are reissued for at most ten recent projects with zero members.
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInResetRequest'
      responses:
        '202':
          description: Accepts a sign-in reset request without revealing whether a person holds the address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResetAccepted'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: sign-in-reset-email
        quota: 3
        windowSeconds: 3600
      - name: sign-in-reset-ip
        quota: 10
        windowSeconds: 3600
      - name: sign-in-reset-fleet
        quota: 200
        windowSeconds: 3600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
  /dashboard/v1/invitations/inspect:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: inspectDashboardInvitation
      description: Inspects an invitation without consuming it. Never reports signup or verification state.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationInspectRequest'
      responses:
        '200':
          description: Inspects an invitation without consuming it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationInspect'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: invitation-inspect-ip
        quota: 30
        windowSeconds: 600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
  /dashboard/v1/invitations/passkey-options:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: startDashboardInvitationPasskey
      description: Starts a five-minute registration ceremony bound to the invitation digest and mode. Link create_login requires a verified __Host-screenrig-signup
        cookie and uses its name. Email create_login binds the supplied display name; reset binds the target person.
      security:
      - {}
      - invitationSignup: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationPasskeyOptionsRequest'
      responses:
        '201':
          description: Starts a five-minute registration ceremony bound to the invitation digest and mode.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardPasskeyRegistration'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: invitation-passkey-options-ip
        quota: 30
        windowSeconds: 600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
  /dashboard/v1/invitations/email-verifications:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: verifyDashboardInvitationEmail
      description: Starts a browser-bound link signup and revokes earlier signups for this invitation. The verification challenge is bound to this signup. Development
        auth verifies the signup immediately without mail.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationEmailVerificationRequest'
      responses:
        '202':
          description: Starts a browser-bound link signup and revokes earlier signups for this invitation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationEmailVerificationAccepted'
          headers:
            Set-Cookie:
              schema:
                type: string
              description: Sets __Host-screenrig-signup; HttpOnly, Secure, SameSite=Strict, Path=/, 30-minute TTL.
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: invitation-email-verification-ip
        quota: 10
        windowSeconds: 3600
      - name: invitation-email-verification-recipient
        quota: 3
        windowSeconds: 3600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
  /dashboard/v1/invitations/signup:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    get:
      operationId: getDashboardInvitationSignup
      description: Returns the live signup belonging to this browser. A missing, revoked, consumed, or expired signup cookie returns invitation_invalid.
      security:
      - invitationSignup: []
      responses:
        '200':
          description: Returns the live signup belonging to this browser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationSignup'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/invitations/accept:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: acceptDashboardInvitation
      description: Accepts an invitation transactionally and mints a fresh person session, deleting the old session when present. Link create_login requires the verified
        __Host-screenrig-signup cookie for this invitation. signed_in requires a dashboard session and recent sign-in or fresh proof; email delivery requires a matching
        verified email. An already-registered create_login address returns resource_conflict.
      security:
      - {}
      - invitationSignup: []
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationAcceptRequest'
      responses:
        '200':
          description: Accepts an invitation transactionally and mints a fresh person session, deleting the old session when present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationAccepted'
          headers:
            Set-Cookie:
              schema:
                type: string
              description: Fresh __Host-screenrig-dashboard session.
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
        default:
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
      x-rate-limit-policies:
      - name: invitation-accept-ip
        quota: 30
        windowSeconds: 600
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
  /dashboard/v1/session/project:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    put:
      operationId: switchDashboardProject
      description: Switches to one of the person’s projects and updates its last-used time. A project outside the person’s memberships returns not_found.
      security:
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardProjectSwitch'
      responses:
        '200':
          description: Switches to one of the person’s projects and updates its last-used time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSession'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/projects:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    get:
      operationId: listDashboardProjects
      description: Lists the person’s project memberships.
      security:
      - dashboardSession: []
      responses:
        '200':
          description: Lists the person’s project memberships..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardProjectList'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/members:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    get:
      operationId: listDashboardMembers
      description: Lists members of the current project without their private email addresses. Every member has equal authority; member removal is not available.
      security:
      - dashboardSession: []
      responses:
        '200':
          description: Lists members of the current project without their private email addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMemberList'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    get:
      operationId: getDashboardMe
      description: Returns the signed-in person’s profile and credential counts.
      security:
      - dashboardSession: []
      responses:
        '200':
          description: Returns the signed-in person’s profile and credential counts..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMe'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/reauthentications:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: startDashboardReauthentication
      description: Starts passkey step-up bound to the session, kind, and subject. A person without a passkey receives resource_conflict and uses a password proof.
      security:
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardReauthenticationRequest'
      responses:
        '201':
          description: Starts passkey step-up bound to the session, kind, and subject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardReauthentication'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/password:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    put:
      operationId: setDashboardPassword
      description: Sets or replaces the person’s password after fresh proof. The first password requires passkey proof; replacement accepts the current password or
        a passkey. Revokes other sessions and queues a sign-in changed notice.
      security:
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardPasswordSet'
      responses:
        '204':
          description: Sets or replaces the person’s password after fresh proof.
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/passkeys:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    get:
      operationId: listDashboardPasskeys
      description: Lists the person’s passkeys.
      security:
      - dashboardSession: []
      responses:
        '200':
          description: Lists the person’s passkeys..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardPasskeyList'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/passkeys/options:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: startDashboardPasskeyRegistration
      description: Verifies fresh proof and starts a registration bound to the session and person. Passkeys are disabled under development auth.
      security:
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardProofRequest'
      responses:
        '201':
          description: Verifies fresh proof and starts a registration bound to the session and person.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardPasskeyRegistration'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/passkeys/complete:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: completeDashboardPasskeyRegistration
      description: Stores the new passkey, revokes the person’s other sessions, and queues a sign-in changed notice.
      security:
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardPasskeyComplete'
      responses:
        '201':
          description: Stores the new passkey, revokes the person’s other sessions, and queues a sign-in changed notice..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardPasskey'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/passkeys/{id}:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    patch:
      operationId: renameDashboardPasskey
      description: Renames a passkey owned by the signed-in person.
      security:
      - dashboardSession: []
      parameters:
      - $ref: '#/components/parameters/ResourceID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardPasskeyPatch'
      responses:
        '200':
          description: Renames a passkey owned by the signed-in person..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardPasskey'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      operationId: deleteDashboardPasskey
      description: Deletes a passkey after fresh proof and sends a sign-in changed notice. Removing the last sign-in method returns last_credential.
      security:
      - dashboardSession: []
      parameters:
      - $ref: '#/components/parameters/ResourceID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardProofRequest'
      responses:
        '204':
          description: Deletes a passkey after fresh proof and sends a sign-in changed notice.
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/email:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    get:
      operationId: getDashboardEmail
      description: Returns the person’s verified and pending email state.
      security:
      - dashboardSession: []
      responses:
        '200':
          description: Returns the person’s verified and pending email state..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardEmail'
        default:
          $ref: '#/components/responses/Problem'
  /dashboard/v1/me/email/change:
    servers:
    - url: https://dashboard.screenrig.ai
      description: Backend-owned project dashboard origin
    post:
      operationId: changeDashboardEmail
      description: Requests an email change after fresh proof. The verified address stays effective while verification is pending. An address held by another person
        returns user_email_conflict. The old address receives a warning, not an undo link.
      security:
      - dashboardSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEmailChangeRequest'
      responses:
        '202':
          description: Requests an email change after fresh proof.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEmailChangeAccepted'
        default:
          $ref: '#/components/responses/Problem'
  /.health:
    get:
      operationId: getHealth
      responses:
        "200": { description: Alive, content: { application/json: { schema: { $ref: "#/components/schemas/HealthResponse" } } } }
  /.ready:
    get:
      operationId: getReadiness
      description: >-
        Serving readiness. A draining host answers 421 server_draining with
        Retry-After: 1. A required dependency failure answers 500 not_ready
        with Retry-After. A live database schema that does not satisfy this
        release (a desired index missing or different for more than two
        minutes) answers 500 schema_incompatible without Retry-After: it does
        not clear by waiting.
      responses:
        "200": { description: Ready, content: { application/json: { schema: { $ref: "#/components/schemas/ReadyResponse" } } } }
        "421": { $ref: "#/components/responses/Problem" }
        "500": { $ref: "#/components/responses/Problem" }
  /.version:
    get:
      operationId: getVersion
      responses:
        "200": { description: Version, content: { application/json: { schema: { $ref: "#/components/schemas/VersionResponse" } } } }
  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      responses:
        "200": { description: Capability and archive limits, content: { application/json: { schema: { $ref: "#/components/schemas/Capabilities" } } } }
  /api/v1/enrollments:
    post:
      operationId: enrollCLI
      x-rate-limit-policies:
      - name: cli-enrollment-client
        quota: 3
        windowSeconds: 3600
      - name: cli-enrollment-ip
        quota: 5
        windowSeconds: 3600
      - name: enrollment-recipient
        quota: 3
        windowSeconds: 86400
      x-rate-limit-admitted-response-headers:
      - RateLimit-Policy
      - RateLimit
      description: Creates a new project and its first agent through explicit bundled-CLI enrollment, even when the contact address already belongs to a person or project.
        The contact email stays unverified and grants no authority; malformed addresses return invalid_request. Queues an enrollment invitation in the same transaction.
        project_name is optional; omission uses a readable two-word name. Exact idempotent replay precedes rate limits. Persist the permanent credential before reporting
        success; its replay envelope expires at issuance_expires_at and later retries return credential_issuance_expired. The idempotency record lasts 24 hours.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLIEnrollmentRequest'
      responses:
        '201':
          description: New project and permanent bearer credential. The project carries the unverified contact address in its trimmed supplied form. Persist and verify
            the token before reporting enrollment success. The credential has no scheduled expiry but its encrypted exact-retry delivery envelope exists only until
            issuance_expires_at.
          headers:
            Cache-Control:
              schema:
                type: string
                enum:
                - private, no-store
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIEnrollment'
        '400':
          $ref: '#/components/responses/Problem'
        '409':
          $ref: '#/components/responses/Problem'
        '410':
          $ref: '#/components/responses/Problem'
        '429':
          $ref: '#/components/responses/RateLimitedProblem'
        '500':
          $ref: '#/components/responses/Problem'
        default:
          $ref: '#/components/responses/Problem'
      security: []
  /api/v1/agent-connections:
    post:
      operationId: startAgentConnection
      description: Starts a request to connect another agent to an existing project. The human has 24 hours to approve it. The caller supplies an X25519 public JWK and receives a temporary connection credential separately from the browser approval URL. No project bearer, cookie, Origin header, query credential, or Idempotency-Key is accepted. The connection id is descriptive and never authority.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AgentConnectionRequest" } } } }
      responses:
        "201": { description: "Temporary connection authority and safe dashboard approval URL. The temporary credential is never placed in the URL.", headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/AgentConnectionStart" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/agent-connections/{id}/events:
    get:
      operationId: streamAgentConnectionEvents
      description: Status-only SSE authenticated by the temporary ScreenRig-Agent-Connect credential in Authorization. Data contains only AgentConnection metadata and closes on approved, denied, connected, expired, or cancelled. It never contains a bearer, credential envelope, nonce, cookie, or project identifier.
      security: [{ agentConnectionAuthorization: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Status-only connection SSE., headers: { Cache-Control: { schema: { type: string, enum: ["no-cache, no-store, no-transform"] } }, X-Accel-Buffering: { schema: { type: string, enum: [no] } } }, content: { text/event-stream: { schema: { type: string } } } }
        "401": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/agent-connections/{id}/credential:
    post:
      operationId: collectAgentCredential
      description: Collects the exact replay-safe credential envelope after approval. The temporary connection bearer authenticates the request, while X25519, HKDF-SHA-256, and AES-256-GCM bind the envelope to the recipient key supplied at connection creation. No plaintext project bearer is returned by this route. Approval starts a fresh 24-hour delivery window so the recipient can resume after being offline. The envelope is deleted on activation, cancellation, or expiry.
      security: [{ agentConnectionAuthorization: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Recipient-bound credential envelope., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/AgentCredentialCollection" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/agents/self/activate:
    post:
      operationId: activateCurrentAgent
      description: Proves successful envelope decryption and durable local storage by presenting the pending bearer. Atomically activates both the agent and token, deletes the delivery envelope, and is replay-safe with the now-active bearer. It takes no body and does not debit the API meter.
      security: [{ pendingAgentBearer: [] }]
      responses:
        "200": { description: Active agent., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/Agent" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/agents/self:
    get:
      operationId: getCurrentAgent
      description: Returns the agent installation linked to the calling project bearer plus connection_ready. A project is ready when at least one member has a passkey or password. Identity status is diagnostic and does not debit the API meter.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: "Current agent and project connection readiness.", headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/AgentSelfStatus" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/agents/self/disconnect:
    post:
      operationId: disconnectCurrentAgent
      description: Revokes the calling agent and its bearer without deleting the project or content. Repeating with the same cryptographically valid revoked bearer is a no-op success. Disconnecting the last active agent returns agent_lockout_risk unless allow_last_agent is explicit. Does not debit the API meter.
      security: [{ revocableAgentBearer: [] }]
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/AgentDisconnectRequest" } } } }
      responses:
        "204": { description: Agent disconnected., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/project:
    get:
      operationId: getProject
      description: The calling project. Does not debit the 1-credit API meter, so a zero-remaining project can still read remaining and recover. After a successful
        project principal, authenticated /api/v1 JSON and problem responses include ScreenRig-Credits-Remaining, ScreenRig-Credits-Reset, and ScreenRig-Credits-Included
        as whole credits. SSE, runtime, content, and unauthenticated responses omit them.
      security:
      - projectBearer: []
      responses:
        '200':
          description: Project
          headers:
            ScreenRig-Credits-Remaining:
              $ref: '#/components/headers/ScreenRigCreditsRemaining'
            ScreenRig-Credits-Reset:
              $ref: '#/components/headers/ScreenRigCreditsReset'
            ScreenRig-Credits-Included:
              $ref: '#/components/headers/ScreenRigCreditsIncluded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      operationId: updateProject
      description: Renames the current project. Names contain 1–60 printable characters and no URL-looking text.
      security:
      - projectBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatch'
      responses:
        '200':
          description: Renames the current project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/Problem'
  /api/v1/applications:
    get:
      operationId: listApplications
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Applications, content: { application/json: { schema: { $ref: "#/components/schemas/ApplicationList" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: uploadApplication
      x-rate-limit-policies: [{ name: application-upload, quota: 10, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: Streams one CLI-produced tar.gz directly into bounded durable staging. Metadata is carried in headers so the archive is never base64-wrapped or materialized as JSON by the server.
      security: [{ projectBearer: [] }]
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
        - { $ref: "#/components/parameters/ArchiveSHA256" }
        - { $ref: "#/components/parameters/ExpandedBytes" }
        - { $ref: "#/components/parameters/FileCount" }
        - { $ref: "#/components/parameters/SDKVersion" }
        - { $ref: "#/components/parameters/ApplicationName" }
        - { $ref: "#/components/parameters/ApplicationNameEncoded" }
      requestBody: { required: true, content: { application/gzip: { schema: { type: string, contentMediaType: application/gzip, contentEncoding: binary, maxLength: 104857600 } } } }
      responses:
        "202": { description: Upload accepted, headers: { RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/OperationAccepted" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/applications/{id}/releases:
    post:
      operationId: uploadApplicationRelease
      x-rate-limit-policies: [{ name: application-upload, quota: 10, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: >-
        Publishes an immutable new release of an owned application using the same
        bounded tar.gz upload pipeline. If-Match guards the application revision;
        acceptance increments it, and successful publication increments it again
        when latest_ready_release changes. Name and application identity are
        preserved. Existing playlist release pins are not changed. An identical
        idempotent retry returns the original operation even after revision changes.
      security: [{ projectBearer: [] }]
      parameters:
        - { $ref: "#/components/parameters/ResourceID" }
        - { $ref: "#/components/parameters/IfMatch" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
        - { $ref: "#/components/parameters/ArchiveSHA256" }
        - { $ref: "#/components/parameters/ExpandedBytes" }
        - { $ref: "#/components/parameters/FileCount" }
        - { $ref: "#/components/parameters/SDKVersion" }
      requestBody: { required: true, content: { application/gzip: { schema: { type: string, contentMediaType: application/gzip, contentEncoding: binary, maxLength: 104857600 } } } }
      responses:
        "202": { description: Upload accepted, headers: { RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/OperationAccepted" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/applications/{id}:
    get:
      operationId: getApplication
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Application, content: { application/json: { schema: { $ref: "#/components/schemas/Application" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteApplication
      description: >-
        Tombstones one application owned by the authenticated project and
        all of its releases. The project bearer is authoritative; an
        unknown or other-project id is not_found. If-Match guards the
        application revision. A live manifest reference blocks deletion
        with application_in_use; there is no force-delete path.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "204": { description: Application and releases tombstoned. }
        "409": { description: application_in_use — a live manifest still references one of the application's releases., content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        "412": { description: revision_conflict — If-Match is stale; Problem.current_revision carries the current revision., content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/operations/{id}:
    get:
      operationId: getOperation
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Operation, content: { application/json: { schema: { $ref: "#/components/schemas/Operation" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/operations/{id}/cancel:
    post:
      operationId: cancelOperation
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "200": { description: Cancelled durable operation. A current worker fence can no longer finalize it., content: { application/json: { schema: { $ref: "#/components/schemas/Operation" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v2/playlists:
    get:
      operationId: listPlaylistsV2
      description: Versioned playlist list that may expose adslot pages. The v1 list refuses an ad-bearing document with version_required instead of filtering it.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Playlists with the adslot page union., content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistV2List" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: createPlaylistV2
      description: Authoring entry for the adslot page union. At most 16 adslot pages, at least one ordinary page with no visibility, and the reuse of one slot definition on different pages remain server checks. Reference resolution and DNS stay server checks.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistWriteV2" } } } }
      responses:
        "201": { description: Playlist with its adslot pages., content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistV2" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v2/playlists/{id}:
    get:
      operationId: getPlaylistV2
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Playlist with its adslot pages., content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistV2" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: updatePlaylistV2
      description: Versioned update accepting the adslot page union. If-Match carries the playlist revision.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistWriteV2" } } } }
      responses:
        "200": { description: Updated playlist., content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistV2" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylistV2
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "204": { description: Playlist tombstoned. }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/playlists:
    get:
      operationId: listPlaylists
      description: Lists playlists. Authenticated /api/v1 control-plane read; costs 1 credit.
      security: [{ projectBearer: [] }]
      responses:
        "200":
          description: Playlists
          headers:
            ScreenRig-Credits-Remaining: { $ref: "#/components/headers/ScreenRigCreditsRemaining" }
            ScreenRig-Credits-Reset: { $ref: "#/components/headers/ScreenRigCreditsReset" }
            ScreenRig-Credits-Included: { $ref: "#/components/headers/ScreenRigCreditsIncluded" }
          content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistList" } } }
        "402": { $ref: "#/components/responses/Problem" }
    post:
      operationId: createPlaylist
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistWrite" } } } }
      responses:
        "201": { description: Playlist, content: { application/json: { schema: { $ref: "#/components/schemas/Playlist" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/playlists/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getPlaylist
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Playlist, content: { application/json: { schema: { $ref: "#/components/schemas/Playlist" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: updatePlaylist
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistWrite" } } } }
      responses:
        "200": { description: Playlist, content: { application/json: { schema: { $ref: "#/components/schemas/Playlist" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylist
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "204": { description: Deleted }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/comment/screen/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getScreenComments
      description: >-
        Opaque agent comments on the named screen. ScreenRig does not read or
        use them. They are not authorization and are not on the runtime
        manifest. A screen with no comments returns comments null. Archived
        screens remain addressable. Authenticated /api/v1 control-plane read;
        costs 1 credit.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putScreenComments
      description: >-
        Replaces opaque agent comments on the named screen. The comments value
        must be a JSON object whose compact UTF-8 form is at most 1024 bytes.
        Last-write-wins on the comments field only; revision, updated_at, and
        the runtime manifest are unchanged.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CommentsWrite" } } } }
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteScreenComments
      description: Unsets screen comments. Idempotent if already unset. Does not bump revision or remint the runtime manifest.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "204": { description: Unset }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/comment/playlist/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getPlaylistComments
      description: >-
        Opaque agent comments on the named playlist. ScreenRig does not read or
        use them. A playlist with no comments returns comments null.
        Authenticated /api/v1 control-plane read; costs 1 credit.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putPlaylistComments
      description: >-
        Replaces opaque agent comments on the named playlist. Compact UTF-8 JSON
        of the comments object must be at most 1024 bytes. Last-write-wins on
        the comments field only; revision and the runtime manifest are unchanged.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CommentsWrite" } } } }
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylistComments
      description: Unsets playlist comments. Idempotent if already unset. Does not bump revision or remint the runtime manifest.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "204": { description: Unset }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/comment/playlist/{id}/page/{page_id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/PlaylistPageID" }]
    get:
      operationId: getPlaylistPageComments
      description: >-
        Opaque agent comments on one playlist page, addressed by the page id
        string. A page with no comments returns comments null. Missing playlist
        or page is not_found. Authenticated /api/v1 control-plane read; costs 1
        credit.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putPlaylistPageComments
      description: >-
        Replaces opaque agent comments on one playlist page. Compact UTF-8 JSON
        of the comments object must be at most 1024 bytes. Last-write-wins on
        that page's comments field only; playlist revision and the runtime
        manifest are unchanged.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CommentsWrite" } } } }
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylistPageComments
      description: Unsets comments on one playlist page. Idempotent if already unset. Does not bump revision or remint the runtime manifest.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "204": { description: Unset }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens:
    get:
      operationId: listScreens
      description: Default list returns pairing_pending and active screens. Pass state=archived to list archived screens only.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ScreenListState" }]
      responses:
        "200": { description: Screens, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/project/browser-links/claim:
    post:
      operationId: claimBrowserLink
      x-rate-limit-policies: [{ name: browser-link-claim-project, quota: 20, windowSeconds: 3600 }, { name: browser-link-claim-token, quota: 5, windowSeconds: 3600 }, { name: browser-link-claim-ip, quota: 10, windowSeconds: 3600 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: Claims one browser-link code for the authenticated project and atomically creates exactly one first pairing_pending screen plus its existing browser provisioning grant. Enrollment remains project-only. The response is safe metadata only and never contains a provisioning token, fragment URL, cookie, or proof.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkClaimRequest" } } } }
      responses:
        "201": { description: Exact replay-safe fragment-free browser-link claim., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkClaim" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "500": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/pair:
    post:
      operationId: pairScreen
      x-rate-limit-policies: [{ name: pairing-claim-project, quota: 30, windowSeconds: 60 }, { name: pairing-claim-ip, quota: 30, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: Claims one fleet-global six-character Player pairing session. Exact Idempotency-Key retries return the durable original result without consuming quota again.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PairScreen" } } } }
      responses:
        "201": { description: Durable pairing_pending screen claim., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/PairingClaim" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "500": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/provision:
    post:
      operationId: provisionScreen
      x-rate-limit-policies: [{ name: screen-provision-project, quota: 20, windowSeconds: 3600 }, { name: screen-provision-token, quota: 5, windowSeconds: 3600 }, { name: screen-provision-ip, quota: 10, windowSeconds: 3600 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: Optional browser-only new-screen provisioning. Always creates one new quota-counted pairing_pending screen; exact retries redeliver the same fragment token for ten minutes. Six-character pairing remains the default and only recovery flow.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ProvisionScreen" } } } }
      responses:
        "201": { description: New browser provisioning link., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenProvisioning" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "500": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getScreen
      description: Returns pairing_pending, active, and archived screens. Deleted screens are not found.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Screen, content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        default: { $ref: "#/components/responses/Problem" }
    patch:
      operationId: updateScreen
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenPatch" } } } }
      responses:
        "200": { description: Screen, content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteScreen
      description: Project delete is not a de-associate. Archive the screen instead. Returns screen_archive_required.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/public-id/rotate:
    post:
      operationId: rotateScreenPublicId
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "200": { description: "Public URL credential rotated; player public-key enrollment preserved. Every runtime session is invalidated by the new content_access_generation and the live desired and active grants are reissued at that generation for their unchanged manifest revision, so a paired player that re-mints its session keeps authorizing the content it is already showing.", content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/recovery/confirm:
    post:
      operationId: confirmScreenRecovery
      description: >-
        Confirms a pending screen recovery. A native pairing start that presented
        a host duid or serial matching exactly one screen in exactly one project,
        under a different bound public key, records an offer on that screen
        (Screen.recovery_pending, project event screen.recovery_offered). The
        host object is a hint, never a credential: nothing is rebound until the
        owning project calls this route. A DUID is readable by any application
        on the panel, so an offer is a phishing surface. It is mitigated by
        liveness (no offer while the bound key showed life in the last ten
        minutes), a limit of three offers per screen per rolling hour, and this
        same-project confirmation; recovery_pending.host and the event carry
        the offering device's platform, model, firmware, and manufacturer so
        the operator can compare them with the display in front of them before
        confirming. Confirmation completes the pending
        native pairing onto the EXISTING screen: the pairing device receives
        pairing.claimed as usual and proves possession with pairing.complete,
        the new key becomes the screen identity, and the previous key retires
        with a fifteen-minute grace window in which its runtime sessions keep
        working and it may still mint, after which it is refused. Playlists,
        label, timezone, schedules, and history are preserved. Same project
        only; another project's screen is not_found. If-Match is optional.
        Emits screen.recovered. recovery_not_offered when nothing is pending,
        recovery_expired when the pairing session lapsed, recovery_ambiguous
        when the identifier is attached in more than one place. Problem
        responses never echo device identifiers.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/OptionalIfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "200": { description: "Screen recovered onto the pairing device's key; the response carries the current ETag.", content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "412": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/archive:
    post:
      operationId: archiveScreen
      description: Hides the screen from the default list and darkens the live glass. Does not unbind the player public key. Releases screen_count quota.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "200": { description: Screen archived., content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "412": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/unarchive:
    post:
      operationId: unarchiveScreen
      description: Restores an archived screen to the default list and remints a normal manifest. Must pass screen admission. Does not change the bound public key.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "200": { description: Screen unarchived., content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "412": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/reload:
    post:
      operationId: reloadScreen
      x-rate-limit-policies: [{ name: reload-project, quota: 60, windowSeconds: 60 }, { name: reload-screen, quota: 6, windowSeconds: 60 }, { name: reload-ip, quota: 60, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: >-
        Asks the Player of the named active or archived screen to reload
        (docs/player-compatibility.md §6.3). Appends the durable per-screen
        player.reload event with details.reason project, a new reload_id,
        spread_s 0, and expires_at ten minutes later. The runtime SSE stream
        relays it to every runtime session. A Player ignores a reload within
        ten minutes of the last one it acted on. A web Player reloads at its next page
        boundary; a native Player remints, refetches its manifest, and checks
        for an update. The screen revision does not change. If-Match and
        Idempotency-Key are optional, as on archive; an exact Idempotency-Key
        retry returns the original reload_id and expires_at for twenty-four
        hours. A pairing_pending screen has no Player yet and answers
        resource_conflict. Screen messages are exempt from the 1-credit API
        meter.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      responses:
        "202": { description: "Accepted. The reload is durable until expires_at. The ETag is the unchanged screen revision.", headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, ETag: { schema: { type: string } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenReloadAccepted" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "412": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/toast:
    post:
      operationId: postScreenToast
      x-rate-limit-policies: [{ name: toast-project, quota: 60, windowSeconds: 60 }, { name: toast-screen, quota: 20, windowSeconds: 60 }, { name: toast-ip, quota: 60, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: >-
        Posts one transient stage-chrome toast to the named screen. A toast is
        not a primitive: it does not occupy a canvas slot, has no layer, and
        never participates in readiness or crossfade. The durable event type is
        screen.toast on the existing runtime SSE stream. Runtime scan never
        delivers a toast after expires_at, so a persisted cursor cannot replay
        it later. Level colours are player chrome and are not API fields.
        Text is 1 to 120 characters, line feed is the only accepted line break,
        and at most three lines are accepted. Recognizable ScreenRig credential
        material and other control characters are rejected. duration_ms defaults
        to 10000 and must be between 2000 and 60000 inclusive. An exact
        Idempotency-Key retry returns the original expires_at for twenty-four
        hours. Latest-wins: there is no queue and no cancel verb. Screen
        messages are exempt from the 1-credit API meter.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenToastWrite" } } } }
      responses:
        "202": { description: "Accepted. The toast is durable until expires_at. An exact idempotent retry returns this same expiry.", headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenToastAccepted" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/storage-forecast:
    post:
      operationId: forecastScreenStorage
      x-rate-limit-policies: [{ name: storage-forecast-project, quota: 60, windowSeconds: 60 }, { name: storage-forecast-screen, quota: 30, windowSeconds: 60 }, { name: storage-forecast-ip, quota: 60, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: >-
        Pre-assignment fit dry run: answers whether one playlist would fit
        the named screen before it is assigned, with the same target
        selection as Screen.storage_forecast (the screen's last reported
        capacity, plan A.3 only, no transition prediction, nothing treated
        as local). It writes nothing: no assignment, no screen revision, no
        event, and the screen's storage_forecast read model is untouched.
        The project bearer is authoritative; a screen or playlist of
        another project is not_found. fit is unknown when the screen has no
        storage report, or when the playlist's content references are not
        ready, and both byte counts are null then. An optional
        playlist_revision refuses a playlist that changed since the caller
        read it with revision_conflict. A report older than 24 hours is
        stale but still forecast from, exactly like Screen.storage_forecast.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenStorageForecastRequest" } } } }
      responses:
        "200": { description: Dry-run forecast. fit unknown means there is nothing to forecast from; the byte counts and received_at are null., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenStorageForecastDryRun" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "412": { description: revision_conflict — playlist_revision is not the playlist's current revision; no forecast is returned., content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/screenshot:
    post:
      operationId: requestScreenScreenshot
      x-rate-limit-policies: [{ name: screenshot-screen, quota: 10, windowSeconds: 60 }, { name: screenshot-project, quota: 30, windowSeconds: 60 }, { name: screenshot-ip, quota: 30, windowSeconds: 60 }]
      x-rate-limit-admitted-response-headers: [RateLimit-Policy, RateLimit]
      description: >-
        Requests one still screenshot of the named active screen. Latest-wins:
        a new request replaces any in-flight capture_id and does not 409. The
        current ready slot is kept until a later upload succeeds. capture_id is
        an optional environment prefix, then shot_ and a random suffix. expires_at is thirty seconds
        after accept. The durable event type is screen.screenshot_requested on
        the existing runtime SSE stream; runtime scan never delivers it after
        expires_at. Event details name capture_id, expires_at, max_width_divisor
        2, max_height_divisor 2, format image/webp, quality 80, and max_bytes
        2097152. Image bytes never appear on SSE. Prepaid remaining credit is
        not a gate, and this screen-message path is exempt from the 1-credit
        API meter. An exact Idempotency-Key retry returns the original
        capture_id and expires_at for twenty-four hours.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202": { description: "Accepted. The request is durable until expires_at. An exact idempotent retry returns this same capture_id and expiry.", headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, RateLimit-Policy: { $ref: "#/components/headers/RateLimitPolicy" }, RateLimit: { $ref: "#/components/headers/RateLimit" } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenScreenshotAccepted" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
    get:
      operationId: getScreenScreenshot
      description: >-
        Returns the current ready still WebP for the named screen. Optional
        capture_id must match that ready slot. A named capture_id that expired
        with no upload is screenshot_unavailable. A named capture_id replaced
        by a later request is resource_conflict. Image bytes are never a signed
        URL or object key. Range is not accepted. Screen messages are exempt
        from the 1-credit API meter.
      security: [{ projectBearer: [] }]
      parameters:
        - { $ref: "#/components/parameters/ResourceID" }
        - { $ref: "#/components/parameters/ScreenshotCaptureID" }
      responses:
        "200":
          description: Current ready still WebP.
          headers:
            Content-Type: { schema: { type: string, enum: [image/webp] } }
            Content-Length: { schema: { type: integer } }
            ETag: { schema: { type: string } }
            Cache-Control: { schema: { type: string, enum: ["private, no-store"] } }
            Content-Disposition: { schema: { type: string } }
          content: { image/webp: { schema: { type: string, format: binary } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/screenshot/status:
    get:
      operationId: getScreenScreenshotStatus
      description: >-
        Returns the screenshot state machine for the named screen when it
        exists for this project. idle has no request and no ready slot.
        pending is the current capture_id before expires_at with no upload.
        ready means the last successful upload matches the current capture_id.
        timed_out means the current id reached expires_at with no upload.
        Timeout is lazy: the first status GET or next POST after expiry records
        it and appends screen.screenshot_failed once with reason expired.
        A timed-out request does not delete an older ready slot. Screen
        messages are exempt from the 1-credit API meter.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Screenshot status for this project's screen., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenScreenshotStatus" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/events:
    get:
      operationId: listEvents
      description: >-
        Lists durable project events ascending by sequence. Paging is
        contiguous: pass the returned next_cursor as after to continue exactly
        where the page stopped. next_cursor is the cursor of the last returned
        event while newer events already exist, and null at the end of the
        history. limit defaults to 50 and accepts 1-200; a value outside that
        range is refused with invalid_request and an errors[] member naming
        limit. Offset paging is not supported.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/AfterCursor" }, { $ref: "#/components/parameters/EventListLimit" }]
      responses:
        "200": { description: Durable events, content: { application/json: { schema: { $ref: "#/components/schemas/EventList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/events/stream:
    get:
      operationId: streamEvents
      description: >-
        Replayable project listen stream. Opening this request costs 1 credit
        as the listen subscribe. Credit headers are omitted. Later billed
        events cost 1 credit each; screen.*, runtime.*, and application.event
        are exempt screen-conversation messages. Heartbeats and the retry
        preamble never charge. stream.cursor and stream.resync_required are
        billed. Debit idempotency is sse-event:<project_id>:<sequence>, so
        reconnect replay is free. An unpaid billed event is not written and
        the stream closes.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/AfterCursor" }, { $ref: "#/components/parameters/LastEventID" }]
      responses:
        "200": { description: "Replayable SSE stream. The query cursor takes precedence over Last-Event-ID. Invalid, future, or pre-retention cursors receive stream.resync_required at the current head and close. No ScreenRig-Credits-* headers.", content: { text/event-stream: { schema: { type: string } } } }
        "402": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/project/capabilities:
    get:
      operationId: getProjectCapabilities
      description: The calling project's plan, independent advertiser/screens flags with their revision, and the derived effective capability set. Never reflects a client claim; an unknown plan fails closed as forbidden.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Project capabilities., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ProjectCapabilities" } } } }
        "403": { description: "forbidden - the project plan is not in the catalog.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/billing/balance:
    get:
      operationId: getBillingBalance
      description: The calling project's source-aware balance snapshot. All millicredit amounts are canonical decimal strings. It is a snapshot, not authority to pay; rails_available is false while card, tax and cash-out rail are unavailable.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Balance snapshot., content: { application/json: { schema: { $ref: "#/components/schemas/BillingBalance" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/billing/statement:
    get:
      operationId: getBillingStatement
      description: Stable cursor pagination over immutable posted journal entries for the calling project. Holds are not posted entries. Corrections link to the original event instead of rewriting it. There is no arbitrary grant or payout mutation on this surface.
      security: [{ projectBearer: [] }]
      parameters:
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100 } }
      responses:
        "200": { description: Statement page., content: { application/json: { schema: { $ref: "#/components/schemas/BillingStatement" } } } }
        "400": { description: "invalid_request - limit is out of range.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/network:
    get:
      operationId: getAdvertisingNetwork
      description: The calling seller's one network, including its resolved ScreenRig serving fee. Sellers cannot change that fee.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Network., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingNetwork" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: createAdvertisingNetwork
      description: Creates the calling seller's one network if absent. Requires screens=true. Idempotent; repeating returns the same network.
      security: [{ projectBearer: [] }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingNetworkCreate" } } } }
      responses:
        "200": { description: Network., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingNetwork" } } } }
        "403": { description: "forbidden - the project lacks screen capability or has an unknown plan.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/network/rate:
    post:
      operationId: setAdvertisingDefaultRate
      description: Sets the seller's project default rate per 15 seconds of completed playback. A change that alters an accepted campaign's effective rate pauses that whole campaign with price_change_pending; a masked or no-op change does not. If-Match carries the network revision.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingRate" } } } }
      responses:
        "200": { description: Updated network., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingNetwork" } } } }
        "412": { description: "revision_conflict - If-Match is stale.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/inventory:
    get:
      operationId: listAdvertisingInventory
      description: The calling seller's opted-in inventory.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Inventory., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingInventoryList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/inventory/{screen_id}:
    put:
      operationId: putAdvertisingInventory
      description: Upserts one owned screen's inventory. Verifies screen ownership. A rate override of null restores inheritance, not zero. A change that alters an accepted campaign's effective rate pauses that campaign.
      security: [{ projectBearer: [] }]
      parameters: [{ name: screen_id, in: path, required: true, schema: { type: string } }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/OptionalIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingInventoryWrite" } } } }
      responses:
        "200": { description: Stored inventory., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingInventory" } } } }
        "403": { description: "forbidden - the screen is not owned by this project.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        "412": { description: "revision_conflict.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/slots:
    get:
      operationId: listAdvertisingSlots
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Slots., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingSlotList" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: createAdvertisingSlot
      description: Creates a reusable seller slot. Images are 5-30 seconds and videos at most the platform ceiling of 120 seconds. Ads are always muted.
      security: [{ projectBearer: [] }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingSlotWrite" } } } }
      responses:
        "201": { description: Slotslot., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingSlot" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/slots/{id}:
    post:
      operationId: updateAdvertisingSlot
      description: Updates one seller slot. If-Match carries the slot revision. A rate override change re-runs the pricing fence.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingSlotWrite" } } } }
      responses:
        "200": { description: Updated slot., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingSlot" } } } }
        "412": { description: "revision_conflict.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/memberships:
    get:
      operationId: listAdvertisingMemberships
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Memberships., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingMembershipList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/memberships/{id}:
    post:
      operationId: updateAdvertisingMembership
      description: Explicit seller policy/scope edit. An active membership is changed here, never by sending a second invitation. Scope changes stop new selection; financial history is preserved.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingMembershipScope" } } } }
      responses:
        "200": { description: Updated membership., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingMembership" } } } }
        "412": { description: "revision_conflict.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/memberships/{id}/revoke:
    post:
      operationId: revokeAdvertisingMembership
      description: Revokes one membership. Stops new selection for that network; it does not clear the advertiser flag, other memberships, or settled history.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Revoked membership., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingMembership" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/networks:
    get:
      operationId: listAdvertisingJoinedNetworks
      description: Networks the calling advertiser currently belongs to, with the scope and review policy it was granted. Screen count is not a guaranteed impression count.
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Joined networks., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingJoinedNetworkList" } } } }
        "403": { description: "forbidden - the project lacks the advertiser flag.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/networks/{seller_project_id}/inventory:
    get:
      operationId: listAdvertisingJoinedInventory
      description: Opted-in inventory and reusable slots inside the caller's membership. Never exposes the seller's screenshots, playlists, or project-wide data.
      security: [{ projectBearer: [] }]
      parameters: [{ name: seller_project_id, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Permitted inventory and slots., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingJoinedInventory" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/advertising/creatives:
    get:
      operationId: listAdvertisingCreatives
      security: [{ projectBearer: [] }]
      responses:
        "200": { description: Creatives., content: { application/json: { schema: { $ref: "#/components/schemas/AdvertisingCreativeList" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: createAdvertisingCreative
      description: Binds one ready owned media revision to an immutable creative. Does not copy bytes, re-upload, or re-charge generation. Unknown or non-ready media is rejected.
      security: [{ projectBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIdempotencyKey" }]
[...]
