openapi: 3.1.0
info:
  title: ScreenRig API
  version: 0.2.0
  description: >-
    Agent-operated digital signage control and runtime API.

    Public remaining is whole credits, never millicredits. Authenticated /api/v1
    JSON and problem responses include ScreenRig-Credits-Remaining,
    ScreenRig-Credits-Reset, and ScreenRig-Credits-Included. SSE, runtime,
    content, and unauthenticated responses omit them. The ledger unit remains
    millicredits (1000 mcr = 1 credit); published remaining is floored.

    Authenticated user or agent /api/v1 requests cost 1 credit, debited
    immediately against this server request id. Remaining below 1 whole credit
    is payment_required. GET /api/v1/account and POST
    /api/v1/account/credential/revoke do not debit, so a zero-remaining account
    can recover. Screen messages are exempt from this meter:
    POST /api/v1/screens/{id}/toast, POST /api/v1/screens/{id}/screenshot,
    GET /api/v1/screens/{id}/screenshot, and GET
    /api/v1/screens/{id}/screenshot/status. Runtime, pairing, content, health,
    and unauthenticated routes are not this meter. Inbound media commit,
    application accept, and K/V put bytes, outbound runtime media/package/release
    and K/V get bytes, and stored bytes settle hourly against remaining.
    Public remaining stays whole credits.

    Opening GET /api/v1/events/stream costs 1 credit as the listen subscribe.
    Later billed events on that stream cost 1 credit each. Screen conversation
    events are exempt: screen.*, runtime.*, and application.event. Heartbeats
    and the retry preamble never charge. playlist.*, media.*, kv.*,
    application.published, operation.*, account.*, feedback.*, stream.cursor,
    and stream.resync_required are billed. SSE debit idempotency is
    sse-event:<account_id>:<sequence>; reconnect replay is free. An unpaid
    billed event is not written and the stream closes.
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.screenrig.ai
    description: Control-plane origin
security: []
paths:
  /.health:
    get:
      operationId: getHealth
      responses:
        "200": { description: Alive, content: { application/json: { schema: { $ref: "#/components/schemas/HealthResponse" } } } }
  /.ready:
    get:
      operationId: getReadiness
      responses:
        "200": { description: Ready, content: { application/json: { schema: { $ref: "#/components/schemas/ReadyResponse" } } } }
        "503": { $ref: "#/components/responses/Problem" }
  /.version:
    get:
      operationId: getVersion
      responses:
        "200": { description: Version, content: { application/json: { schema: { $ref: "#/components/schemas/VersionResponse" } } } }
  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      responses:
        "200": { description: Capability and archive limits, content: { application/json: { schema: { $ref: "#/components/schemas/Capabilities" } } } }
  /api/v1/enrollments:
    post:
      operationId: enrollCLI
      description: Internal bundled-CLI first-use enrollment. Persist client_id and Idempotency-Key before sending; an exact retry redelivers the same permanent credential from its encrypted issuance for ten minutes without creating another account. After that delivery window the durable idempotency result returns credential_issuance_expired; no follow-up mutation is required or supported.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CLIEnrollmentRequest" } } } }
      responses:
        "201": { description: "Anonymous account and permanent bearer credential. Persist and verify the token, then resume the original command. The credential has no scheduled expiry but its encrypted exact-retry delivery envelope exists only until issuance_expires_at.", headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/CLIEnrollment" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/account:
    get:
      operationId: getAccount
      description: >-
        The calling account. Does not debit the 1-credit API meter, so a
        zero-remaining account can still read remaining and recover. After a
        successful account principal, authenticated /api/v1 JSON and problem
        responses include ScreenRig-Credits-Remaining, ScreenRig-Credits-Reset,
        and ScreenRig-Credits-Included as whole credits. SSE, runtime, content,
        and unauthenticated responses omit them.
      security: [{ accountBearer: [] }]
      responses:
        "200":
          description: Account
          headers:
            ScreenRig-Credits-Remaining: { $ref: "#/components/headers/ScreenRigCreditsRemaining" }
            ScreenRig-Credits-Reset: { $ref: "#/components/headers/ScreenRigCreditsReset" }
            ScreenRig-Credits-Included: { $ref: "#/components/headers/ScreenRigCreditsIncluded" }
          content: { application/json: { schema: { $ref: "#/components/schemas/Account" } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/account/credential/revoke:
    post:
      operationId: revokeCurrentAccountCredential
      description: Revokes exactly the calling account bearer and issues no replacement. The account, screens, and content remain. Repeating this request with the same cryptographically valid already-revoked bearer returns 204 only on this endpoint, allowing safe repair of an ambiguous response; every other account route rejects that bearer. This operation is intrinsically idempotent and does not use an Idempotency-Key. It does not debit the 1-credit API meter.
      security: [{ accountBearer: [] }]
      responses:
        "204": { description: "The calling credential is revoked. It cannot be recovered, and no replacement token was issued.", headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "500": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/applications:
    get:
      operationId: listApplications
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Applications, content: { application/json: { schema: { $ref: "#/components/schemas/ApplicationList" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: uploadApplication
      description: Streams one CLI-produced tar.gz directly into bounded durable staging. Metadata is carried in headers so the archive is never base64-wrapped or materialized as JSON by the server.
      security: [{ accountBearer: [] }]
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
        - { $ref: "#/components/parameters/ArchiveSHA256" }
        - { $ref: "#/components/parameters/ExpandedBytes" }
        - { $ref: "#/components/parameters/FileCount" }
        - { $ref: "#/components/parameters/SDKVersion" }
        - { $ref: "#/components/parameters/ApplicationName" }
      requestBody: { required: true, content: { application/gzip: { schema: { type: string, contentMediaType: application/gzip, contentEncoding: binary, maxLength: 104857600 } } } }
      responses:
        "202": { description: Upload accepted, content: { application/json: { schema: { $ref: "#/components/schemas/OperationAccepted" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/applications/{id}:
    get:
      operationId: getApplication
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Application, content: { application/json: { schema: { $ref: "#/components/schemas/Application" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/operations/{id}:
    get:
      operationId: getOperation
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Operation, content: { application/json: { schema: { $ref: "#/components/schemas/Operation" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/operations/{id}/cancel:
    post:
      operationId: cancelOperation
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "200": { description: Cancelled durable operation. A current worker fence can no longer finalize it., content: { application/json: { schema: { $ref: "#/components/schemas/Operation" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/playlists:
    get:
      operationId: listPlaylists
      description: Lists playlists. Authenticated /api/v1 control-plane read; costs 1 credit.
      security: [{ accountBearer: [] }]
      responses:
        "200":
          description: Playlists
          headers:
            ScreenRig-Credits-Remaining: { $ref: "#/components/headers/ScreenRigCreditsRemaining" }
            ScreenRig-Credits-Reset: { $ref: "#/components/headers/ScreenRigCreditsReset" }
            ScreenRig-Credits-Included: { $ref: "#/components/headers/ScreenRigCreditsIncluded" }
          content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistList" } } }
        "402": { $ref: "#/components/responses/Problem" }
    post:
      operationId: createPlaylist
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistWrite" } } } }
      responses:
        "201": { description: Playlist, content: { application/json: { schema: { $ref: "#/components/schemas/Playlist" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/playlists/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getPlaylist
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Playlist, content: { application/json: { schema: { $ref: "#/components/schemas/Playlist" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: updatePlaylist
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PlaylistWrite" } } } }
      responses:
        "200": { description: Playlist, content: { application/json: { schema: { $ref: "#/components/schemas/Playlist" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylist
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Deleted }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/comment/screen/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getScreenComments
      description: >-
        Opaque agent comments on the named screen. ScreenRig does not read or
        use them. They are not authorization and are not on the runtime
        manifest. A screen with no comments returns comments null. Archived
        screens remain addressable. Authenticated /api/v1 control-plane read;
        costs 1 credit.
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putScreenComments
      description: >-
        Replaces opaque agent comments on the named screen. The comments value
        must be a JSON object whose compact UTF-8 form is at most 1024 bytes.
        Last-write-wins on the comments field only; revision, updated_at, and
        the runtime manifest are unchanged.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CommentsWrite" } } } }
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteScreenComments
      description: Unsets screen comments. Idempotent if already unset. Does not bump revision or remint the runtime manifest.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Unset }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/comment/playlist/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getPlaylistComments
      description: >-
        Opaque agent comments on the named playlist. ScreenRig does not read or
        use them. A playlist with no comments returns comments null.
        Authenticated /api/v1 control-plane read; costs 1 credit.
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putPlaylistComments
      description: >-
        Replaces opaque agent comments on the named playlist. Compact UTF-8 JSON
        of the comments object must be at most 1024 bytes. Last-write-wins on
        the comments field only; revision and the runtime manifest are unchanged.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CommentsWrite" } } } }
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylistComments
      description: Unsets playlist comments. Idempotent if already unset. Does not bump revision or remint the runtime manifest.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Unset }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/comment/playlist/{id}/page/{page_id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/PlaylistPageID" }]
    get:
      operationId: getPlaylistPageComments
      description: >-
        Opaque agent comments on one playlist page, addressed by the page id
        string. A page with no comments returns comments null. Missing playlist
        or page is not_found. Authenticated /api/v1 control-plane read; costs 1
        credit.
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putPlaylistPageComments
      description: >-
        Replaces opaque agent comments on one playlist page. Compact UTF-8 JSON
        of the comments object must be at most 1024 bytes. Last-write-wins on
        that page's comments field only; playlist revision and the runtime
        manifest are unchanged.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CommentsWrite" } } } }
      responses:
        "200": { description: Comments, content: { application/json: { schema: { $ref: "#/components/schemas/Comments" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deletePlaylistPageComments
      description: Unsets comments on one playlist page. Idempotent if already unset. Does not bump revision or remint the runtime manifest.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Unset }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens:
    get:
      operationId: listScreens
      description: Default list returns pairing_pending and active screens. Pass state=archived to list archived screens only.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ScreenListState" }]
      responses:
        "200": { description: Screens, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/account/browser-links/claim:
    post:
      operationId: claimBrowserLink
      description: Claims one browser-link code for the authenticated account and atomically creates exactly one first pairing_pending screen plus its existing browser provisioning grant. Enrollment remains account-only. The response is safe metadata only and never contains a provisioning token, fragment URL, cookie, or proof.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkClaimRequest" } } } }
      responses:
        "201": { description: Exact replay-safe fragment-free browser-link claim., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkClaim" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/pair:
    post:
      operationId: pairScreen
      description: Claims one fleet-global six-character Player pairing session. Exact Idempotency-Key retries return the durable original result without consuming quota again.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PairScreen" } } } }
      responses:
        "201": { description: Durable pairing_pending screen claim., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/PairingClaim" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/provision:
    post:
      operationId: provisionScreen
      description: Optional browser-only new-screen provisioning. Always creates one new quota-counted pairing_pending screen; exact retries redeliver the same fragment token for ten minutes. Six-character pairing remains the default and only recovery flow.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ProvisionScreen" } } } }
      responses:
        "201": { description: New browser provisioning link., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenProvisioning" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getScreen
      description: Returns pairing_pending, active, and archived screens. Deleted screens are not found.
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Screen, content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        default: { $ref: "#/components/responses/Problem" }
    patch:
      operationId: updateScreen
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenPatch" } } } }
      responses:
        "200": { description: Screen, content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteScreen
      description: Account delete is not a de-associate. Archive the screen instead. Returns screen_archive_required.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/public-id/rotate:
    post:
      operationId: rotateScreenPublicId
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "200": { description: Public URL credential rotated; player public-key enrollment preserved and all prior runtime/content grants revoked., content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/archive:
    post:
      operationId: archiveScreen
      description: Hides the screen from the default list and darkens the live glass. Does not unbind the player public key. Releases screen_count quota.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "200": { description: Screen archived., content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "412": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/unarchive:
    post:
      operationId: unarchiveScreen
      description: Restores an archived screen to the default list and remints a normal manifest. Must pass screen admission. Does not change the bound public key.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "200": { description: Screen unarchived., content: { application/json: { schema: { $ref: "#/components/schemas/Screen" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "412": { $ref: "#/components/responses/Problem" }
        "413": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/toast:
    post:
      operationId: postScreenToast
      description: >-
        Posts one transient stage-chrome toast to the named screen. A toast is
        not a placement: it does not occupy a canvas slot, has no layer, and
        never participates in readiness or crossfade. The durable event type is
        screen.toast on the existing runtime SSE stream. Runtime scan never
        delivers a toast after expires_at, so a persisted cursor cannot replay
        it later. Level colours are player chrome and are not API fields.
        Text is 1 to 120 characters, line feed is the only accepted line break,
        and at most three lines are accepted. Recognizable ScreenRig credential
        material and other control characters are rejected. duration_ms defaults
        to 10000 and must be between 2000 and 60000 inclusive. An exact
        Idempotency-Key retry returns the original expires_at for twenty-four
        hours. Latest-wins: there is no queue and no cancel verb. Screen
        messages are exempt from the 1-credit API meter.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenToastWrite" } } } }
      responses:
        "202": { description: "Accepted. The toast is durable until expires_at. An exact idempotent retry returns this same expiry.", headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenToastAccepted" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/screenshot:
    post:
      operationId: requestScreenScreenshot
      description: >-
        Requests one still screenshot of the named active screen. Latest-wins:
        a new request replaces any in-flight capture_id and does not 409. The
        current ready slot is kept until a later upload succeeds. capture_id is
        shot_ plus 16 to 64 base64url characters. expires_at is thirty seconds
        after accept. The durable event type is screen.screenshot_requested on
        the existing runtime SSE stream; runtime scan never delivers it after
        expires_at. Event details name capture_id, expires_at, max_width_divisor
        2, max_height_divisor 2, format image/webp, quality 80, and max_bytes
        2097152. Image bytes never appear on SSE. Prepaid remaining credit is
        not a gate, and this screen-message path is exempt from the 1-credit
        API meter. An exact Idempotency-Key retry returns the original
        capture_id and expires_at for twenty-four hours.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202": { description: "Accepted. The request is durable until expires_at. An exact idempotent retry returns this same capture_id and expiry.", headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenScreenshotAccepted" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
    get:
      operationId: getScreenScreenshot
      description: >-
        Returns the current ready still WebP for the named screen. Optional
        capture_id must match that ready slot. A named capture_id that expired
        with no upload is screenshot_unavailable. A named capture_id replaced
        by a later request is resource_conflict. Image bytes are never a signed
        URL or object key. Range is not accepted. Screen messages are exempt
        from the 1-credit API meter.
      security: [{ accountBearer: [] }]
      parameters:
        - { $ref: "#/components/parameters/ResourceID" }
        - { $ref: "#/components/parameters/ScreenshotCaptureID" }
      responses:
        "200":
          description: Current ready still WebP.
          headers:
            Content-Type: { schema: { type: string, enum: [image/webp] } }
            Content-Length: { schema: { type: integer } }
            ETag: { schema: { type: string } }
            Cache-Control: { schema: { type: string, enum: ["private, no-store"] } }
            Content-Disposition: { schema: { type: string } }
          content: { image/webp: { schema: { type: string, format: binary } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/screens/{id}/screenshot/status:
    get:
      operationId: getScreenScreenshotStatus
      description: >-
        Returns the screenshot state machine for the named screen when it
        exists for this account. idle has no request and no ready slot.
        pending is the current capture_id before expires_at with no upload.
        ready means the last successful upload matches the current capture_id.
        timed_out means the current id reached expires_at with no upload.
        Timeout is lazy: the first status GET or next POST after expiry records
        it and appends screen.screenshot_failed once with reason expired.
        A timed-out request does not delete an older ready slot. Screen
        messages are exempt from the 1-credit API meter.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }]
      responses:
        "200": { description: Screenshot status for this account's screen., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenScreenshotStatus" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/events:
    get:
      operationId: listEvents
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/AfterCursor" }]
      responses:
        "200": { description: Durable events, content: { application/json: { schema: { $ref: "#/components/schemas/EventList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/events/stream:
    get:
      operationId: streamEvents
      description: >-
        Replayable account listen stream. Opening this request costs 1 credit
        as the listen subscribe. Credit headers are omitted. Later billed
        events cost 1 credit each; screen.*, runtime.*, and application.event
        are exempt screen-conversation messages. Heartbeats and the retry
        preamble never charge. stream.cursor and stream.resync_required are
        billed. Debit idempotency is sse-event:<account_id>:<sequence>, so
        reconnect replay is free. An unpaid billed event is not written and
        the stream closes.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/AfterCursor" }, { $ref: "#/components/parameters/LastEventID" }]
      responses:
        "200": { description: "Replayable SSE stream. The query cursor takes precedence over Last-Event-ID. Invalid, future, or pre-retention cursors receive stream.resync_required at the current head and close. No ScreenRig-Credits-* headers.", content: { text/event-stream: { schema: { type: string } } } }
        "402": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/playback:
    get:
      operationId: listPlaybackAggregates
      security: [{ accountBearer: [] }]
      parameters:
        - { $ref: "#/components/parameters/PlaybackScreenID" }
        - { $ref: "#/components/parameters/PlaybackMediaID" }
        - { $ref: "#/components/parameters/PlaybackDay" }
      responses:
        "200": { description: "Daily playback aggregates for the calling account. One row per screen, media, and UTC day. Newest days first. Identifiers filter the caller's own rows and are never a cross-account lookup.", content: { application/json: { schema: { $ref: "#/components/schemas/PlaybackAggregateList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/applications/{application_id}/kv:
    get:
      operationId: listKV
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ApplicationID" }]
      responses:
        "200": { description: KV entries, content: { application/json: { schema: { $ref: "#/components/schemas/KVList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/applications/{application_id}/kv/{key}:
    parameters: [{ $ref: "#/components/parameters/ApplicationID" }, { name: key, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getKV
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: KV entry, content: { application/json: { schema: { $ref: "#/components/schemas/KVEntry" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putKV
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/KVWrite" } } } }
      responses:
        "200": { description: KV entry, content: { application/json: { schema: { $ref: "#/components/schemas/KVEntry" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteKV
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Deleted }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/media:
    get:
      operationId: listMedia
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/MediaTagQuery" }, { $ref: "#/components/parameters/MediaKindQuery" }]
      responses:
        "200": { description: Media, content: { application/json: { schema: { $ref: "#/components/schemas/MediaList" } } } }
  /api/v1/media/uploads:
    post:
      operationId: createMediaUpload
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MediaUploadDeclaration" } } } }
      responses:
        "201": { description: Short-lived signed authorization for exactly one private object PUT. Send the returned method and every returned header verbatim., headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/MediaUploadSession" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/media/uploads/{id}/commit:
    post:
      operationId: commitMediaUpload
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/ResourceID" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MediaCommit" } } } }
      responses:
        "202": { description: Exact declaration persisted for asynchronous verification and immutable private publication., content: { application/json: { schema: { $ref: "#/components/schemas/Operation" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/media/{id}:
    parameters: [{ $ref: "#/components/parameters/ResourceID" }]
    get:
      operationId: getMedia
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Ready private media metadata. Bytes remain available only through a runtime manifest grant., headers: { ETag: { schema: { type: string } } }, content: { application/json: { schema: { $ref: "#/components/schemas/Media" } } } }
        default: { $ref: "#/components/responses/Problem" }
    patch:
      operationId: patchMedia
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MediaTagPatch" } } } }
      responses:
        "200": { description: Ready media with the updated tag. Matching by:tag playlists rematerialize in the same transaction., headers: { ETag: { schema: { type: string } } }, content: { application/json: { schema: { $ref: "#/components/schemas/Media" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteMedia
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Tombstoned. Referenced desired or active grants cannot be deleted. }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/feedback/bugs:
    get:
      operationId: listBugReports
      description: >-
        Returns the calling account's own bug reports, newest first, up to one
        hundred. Another account's submissions are never returned and are not
        addressable by identifier. There is no pagination cursor in v1.
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Bug reports owned by the calling account., content: { application/json: { schema: { $ref: "#/components/schemas/FeedbackList" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: reportBug
      description: >-
        Records one immutable bug report against the calling account. A submission
        cannot be updated or deleted; a correction is a new submission. An exact
        retry carrying the same Idempotency-Key returns the original submission for
        twenty-four hours instead of creating a duplicate, and a different body under
        that key returns idempotency_mismatch. Never place credentials, cookies,
        Authorization headers, completion nonces, signed URLs, or object keys in
        title, body, or context; recognizable ScreenRig credential material is
        rejected with invalid_request and is not stored.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/FeedbackWrite" } } } }
      responses:
        "201": { description: "Stored bug report. An exact idempotent retry returns this same submission.", content: { application/json: { schema: { $ref: "#/components/schemas/FeedbackSubmission" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /api/v1/feedback/features:
    get:
      operationId: listFeatureRequests
      description: >-
        Returns the calling account's own feature requests, newest first, up to one
        hundred. Another account's submissions are never returned and are not
        addressable by identifier. There is no pagination cursor in v1.
      security: [{ accountBearer: [] }]
      responses:
        "200": { description: Feature requests owned by the calling account., content: { application/json: { schema: { $ref: "#/components/schemas/FeedbackList" } } } }
        default: { $ref: "#/components/responses/Problem" }
    post:
      operationId: requestFeature
      description: >-
        Records one immutable feature request against the calling account. A
        submission cannot be updated or deleted; a correction is a new submission. An
        exact retry carrying the same Idempotency-Key returns the original submission
        for twenty-four hours instead of creating a duplicate, and a different body
        under that key returns idempotency_mismatch. Never place credentials,
        cookies, Authorization headers, completion nonces, signed URLs, or object
        keys in title, body, or context; recognizable ScreenRig credential material
        is rejected with invalid_request and is not stored.
      security: [{ accountBearer: [] }]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/FeedbackWrite" } } } }
      responses:
        "201": { description: "Stored feature request. An exact idempotent retry returns this same submission.", content: { application/json: { schema: { $ref: "#/components/schemas/FeedbackSubmission" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/pairing-sessions:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: startPairingSession
      description: Creates one fleet-global expiring pairing session and sets the temporary HttpOnly Secure SameSite=Strict pairing cookie. An untrusted Origin or cross-site browser request is rejected with forbidden before rate-limit or pairing state is created.
      responses:
        "201": { description: Exact six-character pairing code and expiry., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/PairingSession" } } } }
        "403": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/pairing-events:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: streamPairingEvents
      security: [{ pairingCookie: [] }]
      responses:
        "200": { description: Authenticated temporary pairing SSE. The terminal pairing.claimed data is PairingClaimedEvent and contains only a non-secret completion nonce., headers: { Cache-Control: { schema: { type: string, enum: ["no-cache, no-store, no-transform"] } }, X-Accel-Buffering: { schema: { type: string, enum: [no] } } }, content: { text/event-stream: { schema: { type: string } } } }
        "401": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/pairing-sessions/complete:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: completePairingSession
      security: [{ pairingCookie: [] }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PairingComplete" } } } }
      responses:
        "200": { description: Paired-device cookie issued; the Player next creates the ordinary paired runtime session., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/PairingCompletion" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/sessions:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: createAnonymousRuntimeSession
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/RuntimeSessionRequest" } } } }
      responses:
        "201": { description: Read-only runtime session cookie, content: { application/json: { schema: { $ref: "#/components/schemas/RuntimeSession" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/device-sessions:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: createDeviceRuntimeSession
      security: [{ pairedDeviceCookie: [] }]
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/DeviceSessionRequest" } } } }
      responses:
        "201": { description: Paired runtime session, content: { application/json: { schema: { $ref: "#/components/schemas/RuntimeSession" } } } }
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/browser-provisioning/exchanges:
    servers: [{ url: https://play.screenrig.ai, description: Trusted browser Player origin }]
    post:
      operationId: exchangeBrowserProvisioning
      description: Browser-only same-origin exchange. Atomically binds the one-time token to exchange_id and sets only the normal host-only HttpOnly Secure SameSite=Strict paired-device cookie. Android and Qt never consume this grant.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserProvisioningExchange" } } } }
      responses:
        "201": { description: Paired-device cookie issued without a runtime cookie or credential in the body., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserProvisioningCompletion" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/browser-links:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    post:
      operationId: startBrowserLink
      description: Strict same-origin no-JavaScript-compatible POST that creates or reuses a thirty-minute unclaimed browser-link session. Claiming within that window creates a fresh, independent ten-minute protected provisioning-delivery window; cookie Player pairing remains ten minutes. Native pairing is a separate seventy-two-hour unclaimed locator plus a fresh independent seventy-two-hour collection window after claim. It sets exactly the apex host-only Secure HttpOnly SameSite=Strict Path=/ __Host-screenrig-browser-link cookie with no Domain. JSON clients receive 201; Accept text/html receives a bodyless 303 to /setup. No insecure localhost fallback exists; development requires the configured HTTPS loopback origin.
      responses:
        "201": { description: Safe browser-link code/status metadata., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, Set-Cookie: { schema: { type: string } } }, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkSession" } } } }
        "303": { description: No-JavaScript form continuation to the read-only setup page., headers: { Location: { schema: { type: string, enum: [/setup] } }, Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, Set-Cookie: { schema: { type: string } } } }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
    get:
      operationId: getBrowserLinkStatus
      description: Read-only polling fallback authenticated only by the owning apex browser-link cookie. It returns safe status metadata and the fixed continuation path, never a provisioning URL or token.
      security: [{ browserLinkCookie: [] }]
      responses:
        "200": { description: Claimed safe status., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkStatus" } } } }
        "202": { description: Browser link exists but is not claimed yet., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/BrowserLinkStatus" } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/browser-links/events:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: streamBrowserLinkEvents
      description: Owning-cookie-only replayable SSE with Last-Event-ID. Event data contains safe status fields only. It never contains a provisioning URL/token and does not use the account event stream.
      security: [{ browserLinkCookie: [] }]
      parameters: [{ $ref: "#/components/parameters/LastEventID" }]
      responses:
        "200": { description: Browser-link issued/claimed status SSE., headers: { Cache-Control: { schema: { type: string, enum: ["no-cache, no-store, no-transform"] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Accel-Buffering: { schema: { type: string, enum: [no] } } }, content: { text/event-stream: { schema: { type: string, description: Data payloads conform to BrowserLinkEvent and contain no continuation secret. } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/browser-links/continue:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: continueBrowserLink
      description: Navigation-only owning-cookie-authenticated GET. After claim it returns a bodyless 303 whose sensitive Location is the exact Player /s/<public_id>#provision=<token> URL. The Location is never exposed through CORS, JSON, SSE, polling, logs, traces, metrics, analytics, events, or errors and is idempotent only during the short delivery repair window.
      security: [{ browserLinkCookie: [] }]
      responses:
        "303": { description: Bodyless redirect to the Player provisioning fragment., headers: { Location: { schema: { type: string, pattern: "^https://play\\.screenrig\\.ai/s/[^#]+#provision=[A-Za-z0-9_-]{43}$" } }, Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /setup:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: getBrowserLinkSetupPage
      description: Read-only no-JavaScript setup page authenticated by the owning browser-link cookie. It contains code/status instructions only and never a provisioning URL or token.
      security: [{ browserLinkCookie: [] }]
      responses:
        "200": { description: Safe noindex setup HTML., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } } }, content: { text/html: { schema: { type: string } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "410": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /ABC-234:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: getDashedBrowserLinkLocator
      description: Representative dashed public handoff-code locator. Production accepts every canonical ambiguity-safe XXX-XXX code. The route is side-effect-free and reveals only generic locator instructions. Accept text/markdown negotiates Markdown; Link metadata identifies canonical HTML, the explicit .md alternate, and /llms.txt.
      responses:
        "200": { description: Public locator instructions., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } }, Vary: { schema: { type: string, enum: [Accept] } }, Link: { schema: { type: string } } }, content: { text/html: { schema: { type: string } }, text/markdown: { schema: { type: string } } } }
        "404": { description: Generic unknown-or-expired locator response with no existence oracle., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } } }, content: { text/html: { schema: { type: string } }, text/markdown: { schema: { type: string } } } }
  /ABC234:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: getUndashedBrowserLinkLocator
      description: Representative undashed public handoff-code locator equivalent to /ABC-234. The route is side-effect-free and reveals only generic locator instructions.
      responses:
        "200": { description: Public locator instructions., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } }, Vary: { schema: { type: string, enum: [Accept] } }, Link: { schema: { type: string } } }, content: { text/html: { schema: { type: string } }, text/markdown: { schema: { type: string } } } }
        "404": { description: Generic unknown-or-expired locator response with no existence oracle., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } } }, content: { text/html: { schema: { type: string } }, text/markdown: { schema: { type: string } } } }
  /ABC-234.md:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: getDashedBrowserLinkLocatorMarkdown
      description: Side-effect-free explicit Markdown alias for the representative dashed public handoff-code locator. Production also accepts the undashed .md form. It returns the same public-only instructions and generic no-oracle 404 policy as the canonical locator.
      responses:
        "200": { description: Public locator Markdown instructions., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } }, Vary: { schema: { type: string, enum: [Accept] } }, Link: { schema: { type: string } } }, content: { text/markdown: { schema: { type: string } } } }
        "404": { description: Generic unknown-or-expired locator response with no existence oracle., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } } }, content: { text/markdown: { schema: { type: string } } } }
  /ABC-234/index.md:
    servers: [{ url: https://screenrig.ai, description: HTTPS apex browser-link origin }]
    get:
      operationId: getDashedBrowserLinkLocatorIndexMarkdown
      description: Side-effect-free directory-style Markdown alias for the representative dashed public handoff-code locator. Production also accepts the undashed /index.md form. Its canonical and alternate Link metadata point to /ABC-234 and /ABC-234.md.
      responses:
        "200": { description: Public locator Markdown instructions., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } }, Vary: { schema: { type: string, enum: [Accept] } }, Link: { schema: { type: string } } }, content: { text/markdown: { schema: { type: string } } } }
        "404": { description: Generic unknown-or-expired locator response with no existence oracle., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Robots-Tag: { schema: { type: string, enum: ["noindex, nofollow"] } } }, content: { text/markdown: { schema: { type: string } } } }
  /runtime/v1/native/pairing-sessions:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: startNativePairingSession
      description: Creates a native-only pairing session from a player Ed25519 public key. Unclaimed native pairing lasts seventy-two hours. A successful claim starts a fresh independent seventy-two-hour collection window and does not inherit leftover unclaimed time. Cookies, query credentials, cross-site origins, and Authorization are rejected. Exact Idempotency-Key replay precedes new abuse admission. The response never sets a cookie. An already-bound public key returns enrollment_bound.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NativePairingStart" } } } }
      responses:
        "201": { description: Native pairing code plus temporary ScreenRig-Pairing credential; no Set-Cookie., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/NativePairingSession" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/native/pairing-events:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: streamNativePairingEvents
      description: Native-only pairing SSE authenticated by exactly one ScreenRig-Pairing Authorization header. Cookies and query credentials are rejected. The terminal event contains only the non-secret completion nonce.
      security: [{ nativePairingAuthorization: [] }]
      responses:
        "200": { description: Authenticated native pairing SSE whose terminal data is PairingClaimedEvent., headers: { Cache-Control: { schema: { type: string, enum: ["no-cache, no-store, no-transform"] } }, X-Accel-Buffering: { schema: { type: string, enum: [no] } } }, content: { text/event-stream: { schema: { type: string } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/native/pairing-sessions/complete:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: completeNativePairingSession
      description: Completes native pairing with a completion nonce and an EdDSA compact JWS (op=pairing.complete). No cookie is accepted or set. No ScreenRig-Device credential is issued. The player next mints ScreenRig-Session from a possession proof.
      security: [{ nativePairingAuthorization: [] }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NativePairingComplete" } } } }
      responses:
        "200": { description: Native pairing completion; no Set-Cookie and no device credential., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/NativePairingCompletion" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/native/identity/challenges:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: createNativeIdentityChallenge
      description: Issues a short-lived nonce bound to one player public-key thumbprint. Cookies, query credentials, and Authorization are rejected.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NativeIdentityChallengeRequest" } } } }
      responses:
        "201": { description: Challenge nonce for an EdDSA compact JWS proof; no Set-Cookie., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/NativeIdentityChallenge" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/native/identity/sessions:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: createNativeIdentityRuntimeSession
      description: Verifies an EdDSA compact JWS (op=session.mint) against the enrolled public key and returns a signed 24-hour ScreenRig-Session. Cookies are neither accepted nor set. Exact Idempotency-Key replay precedes new abuse admission. An archived screen still mints a session so the player can show the archived glass.
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NativeIdentityProof" } } } }
      responses:
        "201": { description: Paired native runtime session; no Set-Cookie., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/NativeRuntimeSession" } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/native/identity/reset:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: resetNativeIdentity
      description: The only de-associate. Verifies an EdDSA compact JWS (op=identity.reset), deletes the enrollment, and tombstones the bound screen. No account bearer. Cookies are neither accepted nor set. A missing local key without this proof is not a reset.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NativeIdentityProof" } } } }
      responses:
        "204": { description: Enrollment deleted and screen tombstoned; no Set-Cookie., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "404": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        "503": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/chrome:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: getRuntimeChrome
      description: Stage-chrome for the current runtime session. Not part of the runtime manifest. Auth is the same runtime cookie or ScreenRig-Session as GET /runtime/v1/manifest. Cache-Control is private, no-store. banner is always null.
      security: [{ runtimeCookie: [] }, { nativeSessionAuthorization: [] }]
      responses:
        "200": { description: Runtime chrome, headers: { Cache-Control: { schema: { type: string, enum: ["private, no-store"] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/RuntimeChrome" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/manifest:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: getRuntimeManifest
      description: Resolved player manifest. An archived screen returns problem screen_archived and must not refresh last-known-good.
      security: [{ runtimeCookie: [] }, { nativeSessionAuthorization: [] }]
      responses:
        "200": { description: Resolved player manifest, content: { application/json: { schema: { $ref: "#/components/schemas/RuntimeManifest" } } } }
        "304": { description: Manifest unchanged }
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/events:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: streamRuntimeEvents
      security: [{ runtimeCookie: [] }, { nativeSessionAuthorization: [] }]
      parameters:
        - { $ref: "#/components/parameters/AfterCursor" }
        - { $ref: "#/components/parameters/LastEventID" }
      responses:
        "200": { description: "Screen-scoped durable SSE. The query cursor takes precedence over Last-Event-ID; each event carries an id cursor suitable for reconnect. Audience-only gaps emit payload-free stream.cursor frames. Invalid, future, or pre-retention cursors receive stream.resync_required at the current head and close. screen.toast and screen.screenshot_requested are runtime audience events; scan never delivers either past details.expires_at. Screenshot image bytes are never on this stream. screen.archived and screen.unarchived are runtime audience events; they do not wipe credentials. screen.deleted is a runtime audience event delivered when signed identity reset tombstones the screen, so the player must discard its identity file after a successful reset rather than retry. account.suspended and account.resumed are runtime audience hints when prepaid remaining hits zero or becomes positive.", headers: { X-Accel-Buffering: { schema: { type: string, enum: [no] } } }, content: { text/event-stream: { schema: { type: string } } } }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/reports:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: createRuntimeReport
      security: [{ pairedRuntimeCookie: [] }, { nativeSessionAuthorization: [] }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/RuntimeReport" } } } }
      responses:
        "202": { description: Accepted. manifest.activated is committed before this response and is idempotent for the current active revision. playback.video_started upserts the daily aggregate before this response. application.event appends a durable account event before this response. }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/screenshot:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    put:
      operationId: putRuntimeScreenshot
      description: >-
        Uploads the current pending still WebP for the session screen. Path
        does not name screen_id; the paired runtime session binds it. Header
        ScreenRig-Capture-Id must be the current pending capture_id. Content-Type
        is exactly image/webp. Body is raw WebP, not empty, at most 2097152
        bytes. The server validates RIFF/WEBP magic, decodes one still frame,
        and stores the uploaded bytes unchanged. Animated WebP is
        invalid_request. Missing, unknown, expired, or non-current capture_id
        is resource_conflict. Unpaired sessions are forbidden. Prepaid remaining
        credit is not a gate and these bytes are not counted in used_bytes.
        One slot per screen is replaced. screen.screenshot_ready details name
        capture_id, bytes, width, height, and sha256; they never include pixels
        or an object key.
      security: [{ pairedRuntimeCookie: [] }, { nativeSessionAuthorization: [] }]
      parameters: [{ $ref: "#/components/parameters/ScreenshotCaptureIDHeader" }]
      requestBody: { required: true, content: { image/webp: { schema: { type: string, format: binary } } } }
      responses:
        "204": { description: Still WebP stored as the current slot., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/observation:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    put:
      operationId: putRuntimeObservation
      description: >-
        Reports the playback surface the paired player used for the last
        resolveLayout. Path does not name screen_id; the paired runtime session
        binds it. Body is JSON ScreenObservation: observed_at plus exactly one
        surface. Numbers are device-independent pixels and the device pixel
        ratio next to that layout surface, not canvas author size and not
        encoded screenshot size. They are range-checked only and are never
        proven hardware or authorization. Last write wins and replaces the
        whole surfaces array. An identical surfaces tuple (id, width, height,
        pixel_ratio, presentation) does not emit screen.surface_changed; a
        later observed_at on the same tuple is ignored. Unpaired and anonymous
        public sessions are forbidden. Native cookies are rejected; browser
        must not adopt header profiles. Prepaid remaining credit is not a
        gate. Observation is absent from GET /api/v1/screens until the first
        accepted report. ScreenPatch cannot write it.
      security: [{ pairedRuntimeCookie: [] }, { nativeSessionAuthorization: [] }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ScreenObservation" } } } }
      responses:
        "204": { description: Observation stored as the current surfaces array., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } } }
        "400": { $ref: "#/components/responses/Problem" }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/unpair:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: unpairRuntime
      description: >-
        Cookie-only unpair. Tombstones a cookie-paired screen that has no
        player public-key enrollment. Identity-enrolled screens return
        screen_archive_required; those players de-associate only via
        POST /runtime/v1/native/identity/reset. Path and body do not name
        screen_id; the paired runtime session binds it. No If-Match or
        Idempotency-Key. Browser 204 expires the runtime, device, and pairing
        host cookies. Native identity-bound calls never 204. Anonymous or
        unpaired sessions are forbidden. Prepaid remaining credit is not a gate.
      security: [{ pairedRuntimeCookie: [] }, { nativeSessionAuthorization: [] }]
      responses:
        "204": { description: Cookie-paired screen tombstoned. Browser pairing cookies expired., headers: { Cache-Control: { schema: { type: string, enum: [no-store] } } } }
        "401": { $ref: "#/components/responses/Problem" }
        "403": { $ref: "#/components/responses/Problem" }
        "409": { $ref: "#/components/responses/Problem" }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/manifests/{manifest_revision}/releases/{release_id}/launch:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    post:
      operationId: launchApplicationRelease
      security: [{ runtimeCookie: [] }, { nativeSessionAuthorization: [] }]
      parameters:
        - { name: manifest_revision, in: path, required: true, schema: { type: string } }
        - { name: release_id, in: path, required: true, schema: { type: string } }
      responses:
        "201": { description: Single-use 30-second exact-release-host launch ticket, headers: { Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } }, content: { application/json: { schema: { $ref: "#/components/schemas/ReleaseLaunch" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /content/v1/manifests/{manifest_revision}/media/{media_id}:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: getProtectedMedia
      security: [{ runtimeCookie: [] }, { nativeSessionAuthorization: [] }]
      parameters:
        - { name: manifest_revision, in: path, required: true, schema: { type: string } }
        - { name: media_id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/Range" }
        - { $ref: "#/components/parameters/SecFetchSite" }
        - { $ref: "#/components/parameters/SecFetchMode" }
        - { $ref: "#/components/parameters/SecFetchDest" }
      responses:
        "200": { description: Session-authorized complete private media. Browser Fetch Metadata must describe trusted-player same-origin media/image/video use; authenticated native clients may omit it., headers: { Accept-Ranges: { schema: { type: string, enum: [bytes] } }, Content-Length: { schema: { type: integer } }, ETag: { schema: { type: string } }, Content-Disposition: { schema: { type: string } } } }
        "206": { description: One standards-correct byte range., headers: { Accept-Ranges: { schema: { type: string, enum: [bytes] } }, Content-Range: { schema: { type: string } }, Content-Length: { schema: { type: integer } }, ETag: { schema: { type: string } } } }
        "416": { description: "Unsatisfiable, multiple, or malformed range.", headers: { Content-Range: { schema: { type: string } }, Accept-Ranges: { schema: { type: string, enum: [bytes] } } }, content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        "429": { description: "Per-client, screen, or account protected-media egress limit exceeded.", headers: { Retry-After: { schema: { type: integer, minimum: 1 } } }, content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /content/v1/manifests/{manifest_revision}/releases/{release_id}/package:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    parameters:
      - { name: manifest_revision, in: path, required: true, schema: { type: string, pattern: "^man_" } }
      - { name: release_id, in: path, required: true, schema: { type: string, pattern: "^rel_" } }
      - { $ref: "#/components/parameters/Range" }
      - { $ref: "#/components/parameters/SecFetchSite" }
      - { $ref: "#/components/parameters/SecFetchMode" }
      - { $ref: "#/components/parameters/SecFetchDest" }
    get:
      operationId: getNativeWebappPackage
      description: >-
        Retrieves the normalized immutable package for one uploaded application release so a paired native player
        can retain its authorized last-known-good release across process restart and temporary network loss. The
        paired-device cookie, exact screen grant, manifest revision, content-access generation, release membership,
        and ready package metadata are checked on every request. Account tokens, anonymous runtime cookies, release
        cookies, external iframe placements, and direct object-storage access never authorize package bytes.
      security: [{ pairedDeviceCookie: [] }, { nativeSessionAuthorization: [] }]
      responses:
        "200":
          description: Complete normalized private package.
          headers:
            Accept-Ranges: { schema: { type: string, enum: [bytes] } }
            Content-Length: { schema: { type: integer } }
            Content-Type: { schema: { type: string, enum: [application/vnd.screenrig.webapp-package+tar+gzip] } }
            Content-Disposition: { schema: { type: string } }
            Cache-Control: { schema: { type: string, enum: ["private, max-age=31536000, immutable"] } }
            ETag: { schema: { type: string } }
            Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }
            Cross-Origin-Resource-Policy: { schema: { type: string, enum: [same-origin] } }
            X-Content-Type-Options: { schema: { type: string, enum: [nosniff] } }
            Vary: { schema: { type: string, enum: ["Cookie, Authorization"] } }
        "206":
          description: One standards-correct byte range from the same immutable package.
          headers:
            Accept-Ranges: { schema: { type: string, enum: [bytes] } }
            Content-Range: { schema: { type: string } }
            Content-Length: { schema: { type: integer } }
            Content-Type: { schema: { type: string, enum: [application/vnd.screenrig.webapp-package+tar+gzip] } }
            Content-Disposition: { schema: { type: string } }
            Cache-Control: { schema: { type: string, enum: ["private, max-age=31536000, immutable"] } }
            ETag: { schema: { type: string } }
            Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }
            Cross-Origin-Resource-Policy: { schema: { type: string, enum: [same-origin] } }
            X-Content-Type-Options: { schema: { type: string, enum: [nosniff] } }
            Vary: { schema: { type: string, enum: ["Cookie, Authorization"] } }
        "416": { description: "Unsatisfiable, multiple, or malformed range.", headers: { Content-Range: { schema: { type: string } }, Accept-Ranges: { schema: { type: string, enum: [bytes] } } }, content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
    head:
      operationId: headNativeWebappPackage
      description: Returns the same authorization and immutable identity headers as GET without package bytes.
      security: [{ pairedDeviceCookie: [] }, { nativeSessionAuthorization: [] }]
      responses:
        "200":
          description: Authorized normalized package metadata.
          headers:
            Accept-Ranges: { schema: { type: string, enum: [bytes] } }
            Content-Length: { schema: { type: integer } }
            Content-Type: { schema: { type: string, enum: [application/vnd.screenrig.webapp-package+tar+gzip] } }
            Content-Disposition: { schema: { type: string } }
            Cache-Control: { schema: { type: string, enum: ["private, max-age=31536000, immutable"] } }
            ETag: { schema: { type: string } }
            Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }
            Cross-Origin-Resource-Policy: { schema: { type: string, enum: [same-origin] } }
            X-Content-Type-Options: { schema: { type: string, enum: [nosniff] } }
            Vary: { schema: { type: string, enum: ["Cookie, Authorization"] } }
        "206":
          description: Authorized metadata for one byte range.
          headers:
            Accept-Ranges: { schema: { type: string, enum: [bytes] } }
            Content-Range: { schema: { type: string } }
            Content-Length: { schema: { type: integer } }
            Content-Type: { schema: { type: string, enum: [application/vnd.screenrig.webapp-package+tar+gzip] } }
            Content-Disposition: { schema: { type: string } }
            Cache-Control: { schema: { type: string, enum: ["private, max-age=31536000, immutable"] } }
            ETag: { schema: { type: string } }
            Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }
            Cross-Origin-Resource-Policy: { schema: { type: string, enum: [same-origin] } }
            X-Content-Type-Options: { schema: { type: string, enum: [nosniff] } }
            Vary: { schema: { type: string, enum: ["Cookie, Authorization"] } }
        "416": { description: "Unsatisfiable, multiple, or malformed range.", headers: { Content-Range: { schema: { type: string } }, Accept-Ranges: { schema: { type: string, enum: [bytes] } } } }
        "429": { $ref: "#/components/responses/RateLimitedProblem" }
        default: { $ref: "#/components/responses/Problem" }
  /{asset_path}:
    servers:
      - url: https://r-{release_host_label}.apps.screenrig.ai
        variables:
          release_host_label: { default: 0123456789abcdef0123456789abcdef01234567, description: Domain-separated 160-bit lowercase hexadecimal digest label derived deterministically from the immutable prefixed release ID. }
    get:
      operationId: consumeLaunchTicketOrGetReleaseAsset
      description: >-
        Exact-release-host operation. With a ticket query, atomically consumes the single-use 30-second ticket,
        binds Host/release/screen/content-generation/manifest/grant, sets only the exact-host release-grant cookie,
        and redirects to the same path without the ticket. Without a ticket, validates that cookie on every GET/HEAD.
        The asset_path parameter is greedy (x-screenrig-greedy-path) and is resolved only beneath the ready release root.
        Runtime/account/device cookies and account bearer tokens never authorize this operation.
      x-screenrig-greedy-path: true
      security:
        - releaseLaunchTicket: []
        - releaseGrantCookie: []
      parameters:
        - { name: asset_path, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/SecFetchSite" }
        - { $ref: "#/components/parameters/SecFetchMode" }
        - { $ref: "#/components/parameters/SecFetchDest" }
      responses:
        "200": { description: Exact-host grant-authorized immutable asset., headers: { Referrer-Policy: { schema: { type: string, enum: [no-referrer] } }, X-Content-Type-Options: { schema: { type: string, enum: [nosniff] } }, ETag: { schema: { type: string } } } }
        "302": { description: Ticket consumed once; release-grant cookie issued; ticket removed from Location., headers: { Location: { schema: { type: string } }, Set-Cookie: { schema: { type: string } }, Cache-Control: { schema: { type: string, enum: [no-store] } }, Referrer-Policy: { schema: { type: string, enum: [no-referrer] } } } }
        "403": { description: "Wrong Host/release/screen/generation/grant, stale/replayed ticket, invalid cookie, contradictory Fetch Metadata, or disallowed method.", content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
        "404": { description: Asset absent without exposing release filesystem shape., content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } } }
  /runtime/v1/apps/{application_id}/kv:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    get:
      operationId: listRuntimeKV
      description: >-
        Lists metadata for the application placement named by the current manifest. Requires the HttpOnly runtime
        session and the parent-only ScreenRig-Placement-Capability handle issued on the application placement.
        Handles expire after five minutes and are refreshed by fetching the current runtime manifest; uploaded frames
        never receive the handle and must use the validated parent SDK bridge.
      security: [{ runtimeCookie: [], placementCapability: [] }, { nativeSessionAuthorization: [], placementCapability: [] }]
      parameters: [{ $ref: "#/components/parameters/ApplicationID" }]
      responses:
        "200": { description: Manifest-authorized application KV, content: { application/json: { schema: { $ref: "#/components/schemas/KVList" } } } }
        default: { $ref: "#/components/responses/Problem" }
  /runtime/v1/apps/{application_id}/kv/{key}:
    servers: [{ url: https://play.screenrig.ai, description: Trusted player/runtime origin }]
    parameters: [{ $ref: "#/components/parameters/ApplicationID" }, { name: key, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getRuntimeKV
      security: [{ runtimeCookie: [], placementCapability: [] }, { nativeSessionAuthorization: [], placementCapability: [] }]
      responses:
        "200": { description: Manifest-authorized application KV value, content: { application/json: { schema: { $ref: "#/components/schemas/KVEntry" } } } }
        default: { $ref: "#/components/responses/Problem" }
    put:
      operationId: putRuntimeKV
      security: [{ pairedRuntimeCookie: [], placementCapability: [] }, { nativeSessionAuthorization: [], placementCapability: [] }]
      parameters: [{ $ref: "#/components/parameters/OptionalIfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/KVWrite" } } } }
      responses:
        "200": { description: Paired-device KV mutation, content: { application/json: { schema: { $ref: "#/components/schemas/KVEntry" } } } }
        default: { $ref: "#/components/responses/Problem" }
    delete:
      operationId: deleteRuntimeKV
      security: [{ pairedRuntimeCookie: [], placementCapability: [] }, { nativeSessionAuthorization: [], placementCapability: [] }]
      parameters: [{ $ref: "#/components/parameters/IfMatch" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Paired-device KV deletion }
        default: { $ref: "#/components/responses/Problem" }
components:
  headers:
    ScreenRigCreditsRemaining:
      description: Remaining prepaid credits as a whole integer. Same value as credit_remaining. Never negative.
      schema: { type: integer, minimum: 0 }
    ScreenRigCreditsReset:
      description: RFC 3339 UTC instant of the first moment of the next UTC calendar month, when the next included grant is added. Remaining is not replaced.
      schema: { type: string, format: date-time }
    ScreenRigCreditsIncluded:
      description: Whole credits granted by the plan each UTC month.
      schema: { type: integer, minimum: 0 }
  parameters:
    ResourceID: { name: id, in: path, required: true, schema: { type: string } }
    PlaylistPageID: { name: page_id, in: path, required: true, schema: { type: string, pattern: "^[A-Za-z][A-Za-z0-9_-]{0,63}$" }, description: Playlist page id string. }
    ApplicationID: { name: application_id, in: path, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 200 } }
    ArchiveSHA256: { name: ScreenRig-Archive-SHA256, in: header, required: true, schema: { type: string, pattern: "^[0-9a-f]{64}$" } }
    ExpandedBytes: { name: ScreenRig-Expanded-Bytes, in: header, required: true, schema: { type: integer, minimum: 1, maximum: 262144000 } }
    FileCount: { name: ScreenRig-File-Count, in: header, required: true, schema: { type: integer, minimum: 1, maximum: 5000 } }
    SDKVersion: { name: ScreenRig-SDK-Version, in: header, required: false, schema: { type: string, maxLength: 64 } }
    ApplicationName: { name: ScreenRig-Application-Name, in: header, required: false, schema: { type: string, maxLength: 120 } }
    IfMatch: { name: If-Match, in: header, required: true, schema: { type: string } }
    OptionalIfMatch: { name: If-Match, in: header, required: false, schema: { type: string }, description: Omit only when creating a new key; updates require the current quoted revision. }
    AfterCursor: { name: after, in: query, required: false, schema: { type: string } }
    PlaybackScreenID: { name: screen_id, in: query, required: false, schema: { type: string, pattern: "^scr_" } }
    PlaybackMediaID: { name: media_id, in: query, required: false, schema: { type: string, pattern: "^med_" } }
    MediaTagQuery: { name: tag, in: query, required: false, schema: { type: string, pattern: "^[A-Za-z0-9]{1,32}$" }, description: Exact media tag. Untagged objects are omitted when this filter is present. }
    MediaKindQuery: { name: kind, in: query, required: false, schema: { type: string, enum: [image, video] } }
    PlaybackDay: { name: day, in: query, required: false, schema: { type: string, format: date, pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$" }, description: UTC calendar day of the aggregate. }
    LastEventID: { name: Last-Event-ID, in: header, required: false, schema: { type: string }, description: Durable cursor used when after is absent. }
    Range: { name: Range, in: header, required: false, schema: { type: string, pattern: "^bytes=[0-9]*-[0-9]*$" }, description: V1 accepts one byte range only. }
    ScreenshotCaptureID: { name: capture_id, in: query, required: false, schema: { $ref: "#/components/schemas/ScreenshotCaptureID" } }
    ScreenshotCaptureIDHeader: { name: ScreenRig-Capture-Id, in: header, required: true, schema: { $ref: "#/components/schemas/ScreenshotCaptureID" } }
    ScreenListState: { name: state, in: query, required: false, schema: { type: string, enum: [archived] }, description: Omit for pairing_pending and active. Pass archived to list archived screens only. }
    SecFetchSite: { name: Sec-Fetch-Site, in: header, required: false, schema: { type: string, enum: [same-origin, same-site, cross-site, none] } }
    SecFetchMode: { name: Sec-Fetch-Mode, in: header, required: false, schema: { type: string } }
    SecFetchDest: { name: Sec-Fetch-Dest, in: header, required: false, schema: { type: string } }
  securitySchemes:
    accountBearer: { type: http, scheme: bearer, bearerFormat: sr_live, description: Active account bearer. The credential-revocation operation alone may reverify the same already-revoked bearer to return its idempotent 204 result. }
    nativePairingAuthorization:
      type: http
      scheme: ScreenRig-Pairing
      description: Native-only temporary pairing authorization. The credential is exactly srp_ plus 43 base64url characters and is never sent in a cookie, URL, or query.
    nativeSessionAuthorization:
      type: http
      scheme: ScreenRig-Session
      description: Native-only signed 24-hour runtime authorization. The credential is exactly srs_ plus an opaque signed base64url value.
    runtimeCookie: { type: apiKey, in: cookie, name: __Host-screenrig-runtime }
    pairedRuntimeCookie: { type: apiKey, in: cookie, name: __Host-screenrig-runtime, description: Signed runtime session with paired-device mutation profile. }
    pairedDeviceCookie: { type: apiKey, in: cookie, name: __Host-screenrig-device }
    pairingCookie: { type: apiKey, in: cookie, name: __Host-screenrig-pairing, description: "Signed ten-minute pairing session; never grants account, content, or runtime authority." }
    browserLinkCookie: { type: apiKey, in: cookie, name: __Host-screenrig-browser-link, description: "Apex host-only Secure HttpOnly SameSite=Strict Path=/ browser-link owner cookie; it authenticates a thirty-minute unclaimed locator and, when claimed near the boundary, its fresh ten-minute protected delivery window. It has no Domain and is never accepted as a Player cookie." }
    placementCapability:
      type: apiKey
      in: header
      name: ScreenRig-Placement-Capability
      description: >-
        Parent-only signed five-minute placement capability bound to the runtime
        session, screen, application release, placement, manifest revision,
        content-access generation, and allowed KV operations. Refresh by fetching
        the current manifest.
    releaseGrantCookie: { type: apiKey, in: cookie, name: __Host-screenrig-release, description: Exact-host release/screen/generation/grant cookie; never valid on runtime or account routes. }
    releaseLaunchTicket: { type: apiKey, in: query, name: ticket, description: Random single-use 30-second ticket consumed only on its exact release host. }
    operatorBearer: { type: http, scheme: bearer }
  responses:
    Problem:
      description: Stable RFC 9457 problem response.
      content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } }
    RateLimitedProblem:
      description: Stable rate_limited problem. Retry only after the declared interval.
      headers: { Retry-After: { required: true, schema: { type: integer, minimum: 1 } } }
      content: { application/problem+json: { schema: { $ref: "#/components/schemas/Problem" } } }
  schemas:
    HealthResponse: { type: object, additionalProperties: false, required: [status], properties: { status: { type: string, enum: [alive] } } }
    ReadyResponse: { type: object, additionalProperties: false, required: [status, degraded], properties: { status: { type: string, enum: [ready] }, degraded: { type: array, items: { type: string } } } }
    VersionResponse: { type: object, additionalProperties: false, required: [version, commit, api_version, protocol_version], properties: { version: { type: string }, commit: { type: string }, api_version: { type: string }, protocol_version: { type: string } } }
    Capabilities:
      type: object
      additionalProperties: false
      required: [api_version, protocol_version, application_compressed_bytes, application_expanded_bytes, application_package_bytes, application_file_count, application_file_bytes, application_path_depth, application_path_bytes, media_image_bytes, playlist_max_pages, playlist_max_items_per_page, playlist_max_media_per_selector, transition_max_duration_ms, screens_per_account, account_content_bytes, features]
      properties:
        api_version: { type: string }
        protocol_version: { type: string }
        application_compressed_bytes: { type: integer, enum: [104857600] }
        application_expanded_bytes: { type: integer, enum: [262144000] }
        application_package_bytes: { type: integer, enum: [272629760], description: Maximum normalized immutable webapp package size available to paired native players. }
        application_file_count: { type: integer, enum: [5000] }
        application_file_bytes: { type: integer, enum: [33554432] }
        application_path_depth: { type: integer, enum: [16] }
        application_path_bytes: { type: integer, enum: [255] }
[...]
